[2015-01-07 21:06] pkqk opened #1 "Store bridge and device addresses as numbers"
I can't remember what sized integer they are but I would recommend storing them in the database and using them in the code as a number instead of a string.

The only time they need to be treated as a string is when you're displaying them for debugging or logging information and this could be done with another property on the `DeviceCommand` and `BridgeCommand` models or you could make a new column

[2015-01-07 21:12] pkqk opened #2 "Don't store commands permanently in the database"
It will add a maintenance task of clearing out the database if it fills up which may not be fun to debug for someone who just set the code up and expected it to run their LP without having to check up on it.

I would only use the database as a store for outstanding commands and once they've been acknowledged then remove them.

[2015-02-18 12:21] teh opened #6 "gevent and python 2.7.9 are incompatible"
See https://github.com/gevent/gevent/issues/477

stack trace:

[code]

[2015-02-18 12:21] #1 closed, assigned to nobody

[2015-02-18 12:21] #2 closed, assigned to nobody

[2015-04-07 18:37] Matt-Deacalion opened #8 "Directing the Berg cloud bridge"
In `README.md` it says "_First point your bridge at your laptop_". How does one do this?

Cheers.

[2015-04-26 12:10] Matt-Deacalion commented on #8
Is there any where I can find out how to do this? as remote.bergcloud.com is down at the moment.

[2015-07-03 20:05] ryanewing commented on #8
I would love to know how to get the new firmware. I don't care if I brick the bridge since I'll be tossing it if I can't revive it.

[2015-07-03 23:46] sfcgeorge commented on #8
An update would be nice. I'm a programmer so just knowing the first steps would be nice.

[2015-07-07 14:17] davidvasandani commented on #8
+1 My little printer is just collecting dust.

[2015-07-10 05:13] interlock commented on #8
+1

[2015-07-10 10:46] genmon commented on #8
Ok, my intention was to roll out the new Bridge software to everyone... but I'm having trouble understanding how to get the Bridge update servers to do a bulk update. I'll be able to figure it out, it'll just take me some more time.

But I want you all to be able to use this ahead of me figuring that out. So I can manually get you the software if I can get the MAC address of your Bridge.

There ar

[2015-07-10 11:36] sfcgeorge commented on #8
Thank you, not just letting this hardware die is good of you. MAC: [40:d8:55:19:79:57]

[2015-07-10 12:00] genmon commented on #8
@sfcgeorge have flagged that MAC address for an update -- this is the first time I've used this particular bit of the system, so I hope it works!

[2015-07-10 12:50] sfcgeorge commented on #8
It worked! I got to the /configure page, logged in as per updating the bridge instructions on the wiki. Changing then endpoint isn't working for me, it keeps going back to berg. But remote and bergcloud seem to be working so that's nice for now.

[2015-07-10 14:30] simonpfry commented on #8
Hi Matt, can you add in my mac address please: `40:d8:55:01:cd:fd`

This is the first time I've plugged my little printer in for a few months, and I'm no longer getting the 'upstream' light turn on (all others are solid white). Is this because the Bergcloud services are finally turned off or do I have another issue?

Thanks for your hard work keeping this going!

[2015-07-10 14:53] genmon commented on #8
@simonpfry Bridge flagged for update. The old servers are up and down now... not entirely sure why they seem to work for some people and not for others

[2015-07-10 15:19] simonpfry commented on #8
Thanks! Managed to update the software and update the endpoint!

[2015-07-23 13:58] bskrt commented on #8
Hi Matt, Could you add in our mac address too:

[code]

Thanks.

[2015-07-23 14:01] genmon commented on #8
@bskrt done!

[2015-07-23 14:55] Matt-Deacalion commented on #8
Hi Matt, could you add mine as well:

[code]

Cheers :smile:

[2015-07-23 14:58] genmon commented on #8
@Matt-Deacalion done!

[2015-07-24 23:49] mellbratt commented on #8
Hey @genmon,

Please add `40:d8:55:01:cd:23` as well!

Cheers

[2015-07-26 14:55] genmon commented on #8
@mellbratt done!

[2015-08-03 09:32] markostamcar commented on #8
@genmon please add 40:d8:55:01:c4:f8 :) Thanks!

[2015-08-05 21:05] genmon commented on #8
@markostamcar done! (currently on the road)

[2015-08-06 13:31] markostamcar commented on #8
Yay, it works, thanks! :) Note: The server URL change didn't seem to want to save until I power cycled the bridge one more time.

[2015-08-06 21:01] interlock commented on #8
Would appreciate mine done as well: 40:D8:55:01:C3:40

Anything we can do to help automate this right now?

[2015-08-07 03:13] genmon commented on #8
@interlock done!

tbh I'm happy doing this manually right now, it's nice to have a little contact with folks giving this a go! Going to tackle the automation question after the next focus (which is to pretty up alpha and add a couple of mini features). I say focus like this is a big deal, it's all background work for me still I'm afraid

[2015-08-07 07:58] markostamcar commented on #8
I think you should also post a link to this thread on LP blog so other enthusiastic power users are aware we're already doing the updates :)

[2015-08-08 23:12] ryanewing commented on #8
@genmon can you add `40-D8-55-01-CD-64` for me? Thank you! :+1:

[2015-08-14 12:43] adamstamper commented on #8
@genmon Could you add `40:D8:55:01:CF:EA` as well? Many thanks!

[2015-08-15 16:23] genmon commented on #8
@adamstamper done!

[2015-08-15 16:23] genmon commented on #8
@ryanewing done!

[2015-08-16 11:16] adamstamper commented on #8
Many thanks @genmon - all working locally, think there may be a db glitch at the moment with alpha.littleprinter as it's giving `Internal Server Error` when I try to sign in. Thanks for continuing to support this!

[2015-08-23 05:46] jwy63 commented on #8
Hi @genmon Could you please add 40:d8:55:01:c0:4d for me? Thanks!

[2015-08-25 10:46] genmon commented on #8
@jwy63 done!

[2015-08-31 14:29] bskrt commented on #8
Hi Matt,

I finally got some spare time to get our Little Printer up and running again, seems like I made a typo with my original mac address request :unamused:. Could you add this one please:

[code]

Thanks again!
Kevin

[2015-08-31 14:31] genmon commented on #8
@bskrt done!

[2015-09-01 08:26] per2plex commented on #8
Could you add `40:D8:55:19:79:B3` please? Cheers :+1:

[2015-09-01 09:28] bskrt opened #9 "OperationalError: (OperationalError) no such table"
Hi Matt,

I'm trying to run a local instance of the server but I'm running into some issues.
I got the webapp running, but whenever any database interactions are initiated, e.g. twitter trying to push tokens to the database after the redirect, I'm getting:

[code]

I surely must have missed a step somewhere but I can't seem to figure out what.

Any clue?

[2015-09-01 09:32] bskrt commented on #9
Right, as usual, I found the answer 2minutes after posting this.
Running the following fixed the issue for me:

[code]

[2015-09-01 09:32] #9 closed, assigned to nobody

[2015-09-01 17:01] bskrt opened #10 "sirius on heroku"
I've been playing around with sirius today and got it running properly locally so I decided to push it to heroku.
All dependencies seem to be working ok, I'm able to reach the launch page, sign in, but I can't seem to see reach my printer as it seems to be offline.
My guess is that it has something to do with me not configuring the bridge correctly. I adjusted my bridge server url to "http://myapp

[2015-09-04 16:10] genmon commented on #10
The reason Heroku doesn't work is that the Bridge needs to connect to a fixed IP address. Heroku doesn't allocate fixed IPs, so the next best thing is Dokku (Heroku clone) on Digital Ocean (which _does_ provide a fixed IP).

[2015-09-04 16:11] genmon commented on #8
@per2plex done

[2015-09-04 16:56] bskrt commented on #10
We ended up with a raspberry pi running a local instance of the app.

Some issues/things that could be useful when setting everything up:
- install [Phantomjs](http://phantomjs.org/). For a raspberry pi use this: https://github.com/piksel/phantomjs-raspberrypi/
  - Phantomjs allows the app to take a screenshot of the rendered html you insert in the message field to readout that image to a bytearra

[2015-09-05 10:24] genmon commented on #10
@bskrt that is super awesome :)

[2015-09-05 15:18] jimlockey commented on #8
Hello. here's my numbers and gubbins if you could add it, thanking you muchly.

40:d8:55:01:cd:73

_limits of understanding truly exceeded_ :D

[2015-09-05 15:20] jimlockey commented on #8
... oh I actually have the letters C and D not a cd in the middle of my MAC address.

4 0 : d 8 : 5 5 : 01 : c d : 73

[2015-09-05 15:46] genmon commented on #8
@jimlockey done!

[2015-09-05 17:35] jimlockey commented on #8
Thanks. Just went to power cycle the bridge and saw the MAC address is printed on the underside... that makes the first step easier. oops. Silly me.

[2015-09-05 19:58] jimlockey commented on #8
I'm getting an 'Internal Server Error' when i try to log in alpha.littleprinter.com.

All other steps completed successfully though!

[2015-09-07 17:42] jimlockey commented on #8
Update: Persisted to try logging in and eventually it happened! Got the thing working. Horay. We're back.

Is there any details on character limit and such?

[2015-09-10 15:26] oschrenk commented on #8
Can you add my printer's address to the list?

[code]

---

This is how I retrieved the address:

Find the bridge

[code]

Get the ip (add ".local" to the name)

[code]

Get the MAC address

[code]

[2015-09-18 21:09] oschrenk commented on #8
Bump.

@genmon  Could you add my printer? `40:d8:55:19:77:b7`

[2015-09-20 09:18] genmon commented on #8
@oschrenk done! apologies for delay, on my summer hols

[2015-09-20 11:32] oschrenk commented on #8
Thanks! No apologies needed. Enjoy your holidays!

[2015-09-20 14:23] davidvasandani commented on #8
Happy Sunday @genmon!
Mind adding mine as well? `40:D8:55:01:CC:81` Thank you!

Cheers,
David

[2015-09-20 19:40] booyaa commented on #8
here's mine, thank you `40:d8:55:1:c9:a4`

also thank you @oschrenk for the detailed guide to grabbing your bridge's mac address.

[2015-09-22 08:22] genmon commented on #8
@davidneudorfer done!

@booyaa looks like there's a typo in the MAC address.. should be another character in that "1" segment?

quick note -- I'm still on my hols and unlikely to be able to see this thread again (or action bridge updates) until 28 sept. sorry for the delay!

[2015-09-22 11:46] booyaa commented on #8
whoops here you go `40:d8:55:01:c9:a4` also enjoy your hols, no rush here!

[2015-09-22 14:00] oschrenk opened #11 "Internal Server Error at alpha.littleprinter.com"
With my Twitter account already connected to the app I get a 'Internal Server Error' when visiting the page.

[2015-09-22 14:04] oschrenk opened #12 "Updating wiki page "Updating-the-Bridge" Step 9"
I can't edit the page directly, so I hope this is the appropriate way of making or suggesting changes.

I had to powercycle the bridge in step 9 to see the changed URL.

[2015-09-23 08:26] markostamcar commented on #12
Yup, me too.

[2015-09-23 08:29] markostamcar commented on #8
Guys, as @jimlockey noted, the MAC address is also on the label on the bottom side of the bridge :)

[2015-09-23 08:43] markostamcar opened #13 "Dithering & UTF-8 fix"
Not going to do a pull request, but you might find this useful:
1. Dithering instead of threshold:
   In `sirius/coding/image_encoding.py`, find `def threshold(im):` and add `im = im.convert('1')`
   In `sirius/coding/templating.py`, find `<body>` and change it to `<body style="background-color: #ffffff">`
2. To fix UTF-8 support:
   In `sirius/coding/templating.py`, find `<html>` and add `<head><

[2015-09-23 08:44] markostamcar commented on #11
True, it doesn't work well. Some have had luck by opening a new session and signing in again afterwards. But I think you will be best off by setting up your own instance.

[2015-09-23 13:19] oschrenk commented on #11
Opening a new session did not work. I also tried revoking the access and signing in again without success.

I guess I will have tro try to setup my own instance, but I ran into some issues on my mac. `gevent` does not compile on my Mac. Did somebody make this work on a Mac?

[2015-09-25 11:17] ptitb commented on #8
Hi @genmon,

Could you add my bridge as well:
`40:d8:55:19:77:0c`

Thanks!

[2015-09-28 13:22] genmon commented on #8
@booyaa done!

@ptitb done!

[2015-09-28 13:25] hako commented on #8
Hi @genmon, Do you mind adding mine too? `40:D8:55:02:D1:52`

[2015-09-28 13:26] genmon commented on #8
@hako no problem, done!

[2015-10-20 11:48] ptitb commented on #10
@bskrt I got all hyped up when I read your story about running the app on a Raspberry Pi and I tried to install the app on my Raspberry Pi B with Raspbian Jessie. The app running on http://alpha.littleprinter.com is very unstable and most of the time I get an "Internal Server Error".

So I followed your guide and installed all the dependencies, Phantomjs etc, but when I want to start the app with

[2015-10-21 16:23] bskrt commented on #10
Hi Peter,

I can't say I have any idea what's causing this. I suppose you're referring to the correct port number?
`gunicorn -b 0.0.0.0:5000 -k flask_sockets.worker manage:app`
port 5000 obviously depends to where you pointed your bridge. In our case it's actually 5002.

There's no point in me giving you our RPi image as I fully stripped down the original app to suit our needs (no twitter login, c

[2015-10-28 21:22] geocontrol commented on #8
Hi @genmon I have got my Berg bridges out, I appear to have 3 (one was from the dev kit for berg cloud i think). I know I only need the one and can connect the two computers too it, but if you could add them all then I can maybe take one over to other family houses. Anyway the mac addresses:

MAC addresses of BERG Bridges
1. berg-cloud-bridge-p9tsmusc8 [40:d8:55:01:c0:f8]
2. berg-cloud-bridge-p9ts

[2015-11-02 15:38] genmon commented on #8
@geocontrol done!

[2015-11-04 15:30] stevekennedyuk commented on #8
MAC address 40-D8-55-01-C8-BC

[2015-11-05 14:21] genmon commented on #8
@stevekennedyuk done

[2015-11-05 20:16] lbrt commented on #8
MAC address 40-D8-55-19-70-0F

[2015-11-10 15:22] genmon commented on #8
@lbrt I've just done this for you. Matt

[2015-11-11 11:01] Meroje commented on #8
Hi, mine is `40:d8:55:01:c1:32`

[2015-11-15 19:36] genmon commented on #8
@Meroje done!

[2015-11-16 21:06] seppkurt commented on #8
40:d8:55:01:cc:5a please :) any update here?

[2015-11-23 10:36] genmon commented on #8
@seppkurt done! sorry for the delay

[2015-11-25 09:00] seppkurt commented on #8
Perfect, it is working, printing and a bit of awesomeness is back! :) Is there any way to join and improve even more?

[2015-11-26 01:09] santheo commented on #8
Hi @genmon could you add min`40:d8:55:01:cb:cc`? I'm hoping to be able to get it working for a project I'm building over Thanksgiving weekend. Thanks so much!

[2015-11-26 08:45] shroom24 commented on #8
@genmon while you're busy adding, could you pls add me too? 40::d8::55::19::78::2F ? Thank you!

[2015-11-26 12:06] genmon commented on #8
@santheo done!

@shroom24 done!

:)

[2015-11-27 08:58] shroom24 commented on #8
Thanks @genmon! Up, running and printing!

[2015-11-27 17:05] dan-harding commented on #8
Hi @genmon. I just found out about this yesterday. I have a couple of Little Printers that I'd love to see working again! Would you please add these two mac addresses?
- 40:d8:55:01:c7:93
- 40:d8:55:01:c5:e7

Thanks in advance :)

[2015-11-27 17:37] markostamcar commented on #8
@genmon I think you should also post a link to this thread on LP blog so other enthusiastic power users are aware we're already doing the updates :)

[2015-11-30 15:14] designerscartel commented on #8
Hi @genmon
My MAC Address if you could please
40:D6:55:19:78:28

[2015-12-03 04:38] santheo commented on #10
@bskrt I'd like to spin up a RPi to print directly to the printer, bypassing Twitter and the internet altogether. Is this what you've done? Would you mind sharing your image? If so: santheo@gmail. Thanks.

[2015-12-03 10:37] bskrt commented on #10
@santheo That is pretty much what I did. Printing obviously still runs through the browser, but everything is running locally. I'm planning on cleaning the entire thing up, so I can put an image online, but that's probably something for the coming holidays. I'll put it up here when it's done.

[2015-12-03 11:45] ptitb commented on #10
@bskrt This is also exactly what I am looking for! Would be nice if you could share!

[2015-12-03 11:58] awk0324 commented on #10
Hey,
I'd be also really grateful for such an image. Have a rasPi idling here and browser based solution fit perfect for my needs :)

Cheers,
rad0
a.k.a. the future tester :)

----- Original Message -----

##

Connection closed by remote ghost.

[2015-12-03 16:21] bskrt opened #14 "Bridge dead?"
Our bridge's network LED won't light up anymore, nor does it show up in Bonjour Browser. I triple-checked the cable/connection and that's all working perfectly.

Does the bridge ping an external service to check if it's connected, could that be down?
Did it just brick itself?
Anything I can try on the hardware side of things? I already opened it up (nice and clean little board btw) and noticed 2 s

[2015-12-03 16:54] santheo commented on #10
Thanks @bskrt. If the clean-up is not for security reasons, I'd love to just try what you have now. I'm trying to get the thing working for a video project that starts tomorrow. I thought I had the printer working, since it worked fine with alpha.littleprinter.com a few days ago, but now that's throwing errors and I'm SOL. Any help you can offer would be huge. Thanks!

-Sandy
santheo@gmail.com

[2015-12-08 20:52] kpeeem commented on #8
Hooray!
Hi, mine is 40:d8:55:01:ca:19

[2015-12-10 20:59] designerscartel commented on #8
Hi @genmon

Seems like the label had faded slightly on the bridge. My MAC address is: 40:D6:55:19:78:28

[2015-12-11 12:49] markostamcar commented on #8
@designerscartel Are you sure it doesn't begin with 40:D8?

[2015-12-11 12:49] chepeme commented on #8
Hi @genmon
My mac address is: 40-D8-55-01-CE-14
also... the mac address is written on the back of the bridge

[2015-12-11 13:03] designerscartel commented on #8
@markostamcar

Sorry yes that's correct it added again below.

40-D8-55-19-78-28

[2015-12-11 13:04] chepeme commented on #10
Another one waiting for the image! Thanks!!

[2015-12-13 11:21] genmon commented on #8
@dan-harding done

@designerscartel done

@kpeeem done

@chepeme done

Sorry for the delay all! Busy this end. Yes @markostamcar I agree -- will add to my todo :)

[2015-12-14 20:25] chwode commented on #8
Hey @genmon ! Could you add my mac adress, too? THANK's a lot!!

40-D8-55-19-77-03

[2015-12-15 22:11] designerscartel commented on #8
Thanks @genmon everything went smoothly. Cheers once again

[2015-12-15 23:58] chepeme commented on #8
Thanks @genmon! it's working perfect!

[2015-12-16 16:57] genmon commented on #8
@chwode done!

[2015-12-18 16:06] jaktam commented on #8
mine is 40:d8:55:01:c3:6e
thanks in advance

[2015-12-21 14:45] vincent-bidaux commented on #8
Hi the url where I'm supposed to learn how to get my MAC address doesn't work anymore. How to get the bridge MAC address?

Edit: the MAC address is written on the lower right corner of the sticker underneath the Bridge itself.

[2015-12-21 15:15] ptitb commented on #8
You can find the mac address underneath your bridge or written on the back of the bridge.

[2015-12-21 15:25] vincent-bidaux commented on #8
40:D8:55:01:CD:D3

That's my Bridge MAC address.

Thanks @ptitb for you help!

[2015-12-21 15:33] genmon commented on #8
Hi @ibftp -- it looks like you already have the latest version of the Bridge software.

So now your process is to follow the instructions in [this comment](https://github.com/genmon/sirius/issues/8#issuecomment-120379449) to get the latest software, reach the configuration page, and re-point the Bridge at different backend software.

[2015-12-21 15:48] vincent-bidaux commented on #8
Thanks. What does Power-cycle the bridge means?

Edit:OFF and ON again, googled it.

[2015-12-21 16:05] lazyatom commented on #8
Can you add `40:d8:55:01:c2:93`? Thanks.

[2015-12-21 16:06] genmon commented on #8
@lazyatom done!

[2015-12-21 16:07] vincent-bidaux commented on #8
I'm very confused... I went until I type my bridge IP:81/configure address then I'm required login and password. What do we type here?

[2015-12-21 16:08] genmon commented on #8
@ibftp just continue following the instructions... they link back to [this page](https://github.com/genmon/sirius/wiki/Updating-the-Bridge) which has all the details you'll need

[2015-12-21 16:09] jaktam commented on #8
sorry @genmon have you seen my request from a few days ago?
mac address is 40:d8:55:01:c3:6e
thanks

[2015-12-21 16:09] vincent-bidaux commented on #8
Ok I try but it was saying go to step 7...

[2015-12-21 16:13] vincent-bidaux commented on #8
I logged in and get this:

http://vincent.polenordstudio.fr/snap/cd7jx.jpg

I am sorry, I don't understand any of what is said on the page. Not a line. I don't know where I'm going, I don't know if the bridge being disconnected means anything bad; I don't know why I would whose https instead of http...etc.

[2015-12-21 16:15] genmon commented on #8
@ibftp ok looks like the alpha server isn't working today, sorry. the main route is to install the code (the same code that the alpha server runs) on your own server, there are details in the readme [on the front page of this repository](https://github.com/genmon/sirius). some people in this thread above have got the code running on raspberry pis.

it's all pretty technical and i'm afraid it's not

[2015-12-21 16:23] vincent-bidaux commented on #8
Ok thanks for your help. I guess I'm back into LP frustration :) I had wanted so much to build dozens of publications for it, I had all the content, and have been digging into the docs numerous time without being able to do anything. This is a bit like it :)

Could you explain what happens on /configure for when the alpha server runs again or if I get someone to install my own server?

[2015-12-21 16:33] langeland commented on #8
Can you add `40:D8:55:01:CB:B2`? This is gone be so cool...

[2015-12-21 16:35] genmon commented on #8
@langeland done

[2015-12-21 19:36] mezelve commented on #8
mine is 40:D8:55:01:CD:10 thanks

[2015-12-21 21:02] ghost commented on #8
Hello, mine is:  40:d8:55:01:c9:bb

Thanks

[2015-12-22 16:13] genmon commented on #8
@mezelve done

@rmckenzi done

[2015-12-22 16:17] jaktam commented on #8
Please please do not forget me either.
 40:d8:55:01:c3:6e
Thanks.

@mezelve https://github.com/mezelve done

@rmckenzi https://github.com/rmckenzi done

—
Reply to this email directly or view it on GitHub
https://github.com/genmon/sirius/issues/8#issuecomment-166662630.

[2015-12-22 16:19] genmon commented on #8
@jaktam sorry! had lost your request in the conversation. done now

[2015-12-22 16:22] jaktam commented on #8
thank you very much!
1. dec. 22. 17:19 ezt írta ("Matt Webb" notifications@github.com):

[2015-12-22 16:25] ghost commented on #8
@genmon How long should it take and what should I do to kick life back into the printer?

[2015-12-22 16:55] genmon commented on #8
@rmckenzi if the lights on your Bridge are flashing (all of them, up and down), leave it for a few minutes, that's the update happening. If they aren't flashing, you can trigger the update by unplugging the Bridge, waiting 30 seconds, and plugging it back in again. The update will take a couple minutes. I've updated [the instructions](https://github.com/genmon/sirius/wiki/Updating-the-Bridge) to s

[2015-12-22 17:26] chwode commented on #8
Yeah - it works! Little Printer is alive! And HTML is working - so it is possible to print some pictures, bigger fonts...

But: How do people send messages to my little printer? Is it possible trough their own twitter-account? Is there a hashtag or something..? Thanks a lot...

[2015-12-22 17:31] genmon commented on #8
@chwode this is all explained once you sign in on alpha.littleprinter.com -- your friends can sign in on that site, and then they can send messages to your printer (only if you follow them on Twitter). but a quick warning: alpha.littleprinter.com is a demo site only, and will mostly not be functioning at all. the intended use is for you to install this [sirius](https://github.com/genmon/sirius) co

[2015-12-22 17:36] chwode commented on #8
@genmon Thanks a lot. I'm not able to install this sirius on a server...hm. Is there anyone who could help out? Which server requirements are needed to install it?

[2015-12-22 17:38] genmon commented on #8
@chwode I've been using dokku 0.2.3 on Digital Ocean. setup details [here](https://github.com/genmon/sirius/blob/master/notes/dokku.md)

[2015-12-22 19:28] ghost commented on #8
@genmon Working now, thanks.  Just have to figure out how to send stuff to it.  Getting lots of internal errors from alpha.littleprinter.com though

[2015-12-23 13:17] anneris commented on #14
Colleague of @bskrt here!
I hooked up our bridge to a serial console and it seems the flash / image got corrupted.

`mtd->read(0x3b4 bytes from 0x878c4c) returned ECC error
JFFS2 notice: (383) check_node_data: wrong data CRC in data node at 0x00878c4c: read 0x3d37dfa4, calculated 0xc9f19407.`

Is a re-flash necessary?  Or does this point more towards a hardware problem?

Full output :

[code]

[2015-12-23 20:04] owainrich commented on #8
Hi Matt, I know it's almost Christmas but if you're online it would be great if you could add the mac address of my little printer:  40:D8:55:01:CC:12  You're doing a fantastic job getting everyone back online with their little printers - it's great.  I bought one for my parents which they absolutely love and I intend to get the github code working on my server over Christmas so I can get it back

[2015-12-25 01:31] Patrickh60 commented on #8
Here's another LittlePrinter:  40:d8:55:01:cb:57
Please add me.  Thanks!

[2015-12-25 15:20] mjbrej commented on #8
genmon—please add me as well:  40:d8:55:01:c3:0e

[2015-12-25 16:55] gsm-com commented on #8
[40:d8:55:01:c0:3c]

And me too, thanks a lot for bringing "him" back. Berg cloud seems gone for good two days ago.

M.

[2015-12-25 22:16] ghost commented on #8
I'm getting nothing but "internal error" when I access alpha.littleprinter.com .. are there issues there or am I missing something?

[2015-12-26 11:06] pixelwiese commented on #8
Hello, thank you for saving the lifes of our little printers! ¨
Here is my MAC-Address: <code>40-D8-55-19-71-CE</code>

thank you very much!

And a little Question to all the users: Is there someone who is selling these Paperrolls?

[2015-12-26 12:48] arnoldsuperstar commented on #8
Hello! Thanks for this project!
Here is my MAC address: 40:d8:55:01:cb:10

[2015-12-26 20:57] t8ert0t commented on #8
Hello! Thank you for helping many of us out with keeping our units breathing.

Please add the following MAC address

[40:d8:55:01:c3:bb]

[2015-12-29 14:06] futureshape commented on #8
My MAC address is [40:d8:55:01:ce:23] - thanks in advance!

[2015-12-29 14:52] genmon commented on #8
bridge updates queued up @owainrich @Patrickh60 @mjbrej @gsm-com @pixelwiese @arnoldsuperstar @t8ert0t @futureshape -- sorry for the delay over the holidays!

[2015-12-29 14:55] genmon commented on #8
re alpha.littleprinter.com -- this is really just a demo site for this code. what I hope folks withl do with the code is run it on their own server! alpha.littleprinter.com points at a server I run personally for hobby projects, and it's often not running properly.

cc @rmckenzi since you asked

[2015-12-29 16:28] msmabry commented on #8
Hi there! Thanks for the effort!
MAC address = 40:d8:55:01:ca:e2

[2015-12-30 10:02] pattan commented on #8
Happy new year.
[40:d8:55:19:73:16]

Thank you.

[2015-12-30 13:40] futureshape commented on #8
@genmon thanks! update worked on my side but as you said alpha.littleprinter.com is flakey ... are there any instructions/hints/requirements around installing it on my own server?

[2016-01-02 14:28] lunahuizinga commented on #8
I appreciate all the work you've done.

MAC 40:d8:55:19:70:03

[2016-01-03 15:08] nicocentre commented on #8
My MAC address is [40:d8:55:01:C5:8D] - thanks for this project!

[2016-01-03 16:17] genmon commented on #8
@msmabry @pattan @jorishuizinga @nicocentre -- done!

@futureshape in terms of installation tips, it's worth reading through README.md and notes/dokku.md in the main repo. but also other folks here might have had good luck... have a look through the thread and see who has got installs working. maybe they'll chip in :)

[2016-01-03 20:08] felippenardi commented on #8
@genmon My MAC address is `40:d8:55:01:cd:01`
Thanks in advance, Matt!

[2016-01-04 07:40] jasonalderman commented on #8
@genmon Could you please add MAC address `40:d8:55:01:c3:98`? Thank you so much!

[2016-01-05 15:31] drconline commented on #8
Hi there, can you please add MAC address 40-D8-55-01-C6-D6.
Was about to throw this out and made one last check. Glad I did.
Thanks
Dave

[2016-01-05 18:15] genmon commented on #8
@felippenardi @jasonalderman @drconline done!

[2016-01-05 18:27] amcewen commented on #8
Happy New Year!  Can I add 40:d8:55:01:c0:e4 to the list please?

[2016-01-05 18:30] driesderoeck commented on #8
@genmon Another little printer longing for revival 40:d8:55:01:c4:21

[2016-01-05 19:48] drconline commented on #8
Wow that was quick - Thanks!
Got the Bridge redirected to Alpha.littleprinter.com OK but when I sign in with twitter and it tries to redirect back to the alpha site I get an internal server error.
I'll try again later.
Cheers
Dave

[2016-01-07 02:17] felippenardi commented on #11
Hey @oschrenk , sorry it is late but I just got it running.

You need to change the requiriments.txt and replace the gevent line to:
`gevent==1.1b5`

Then, you need to run the main command a little bit differently too:

`gunicorn -k flask_sockets.Worker manage:app -b 0.0.0.0:5002 -w 1`

I could run the server successfully on Mac after this. But I keep getting "Internal Error" when trying to login

[2016-01-07 02:53] felippenardi commented on #10
@bskrt Thanks for all the information. I'd love to see the image you have for the Raspberry Pi too.

[2016-01-07 13:15] pixelwiese commented on #8
@drconline hi, this is a problem most of us have. But there is to say that alpha.littleprinter.com is just a small server hosted at his home for hobby projects. So the main idea is to set up your own server and direct your bridge to this address.

Scroll up some messages to see the comment from matt for this topic.

[2016-01-08 17:13] semanticdreamer commented on #8
@genmon We're already a _little_ into the new year, but... Happy New Year! :-)

May I ask you to also please add mine `40:d8:55:19:71:cf`? THX a ton!

[2016-01-08 17:16] littlestanley commented on #8
Hello - please can you add me as well - hoping to get the Little Printer back up and running.  Thank you.  40:d8:55:01:cb:90

[2016-01-08 18:06] morozmatik commented on #8
Hi, please can you add me 40:D8:55:19:79:B4
Thank you

[2016-01-08 23:46] drueben commented on #8
Heyy... I'm desperately hoping for my little printer's resurrection
here's my bridge's mac address: 40:d8:55:01:cd:2b
THX

[2016-01-09 13:10] pixelwiese opened #15 "How to install guide?"
Hi everyone,
i tried a little bit to get the code to work on my own server.
But i don't get a step forward...

It would be really nice, if someone who has got the code to life make a little "tutorial" (maybe a video would be the best). I think it would help many people here.

Thank you very Much

Karl

[2016-01-09 18:33] ghost commented on #8
Hi all, please update my printer!
MAC is 40:D8:55:01:C1:87

Thank you!

[2016-01-09 22:48] jasonalderman commented on #12
Same here.

[2016-01-11 16:34] ketz commented on #8
Hi @genmon
Our Little Printer for Business seems to have stopped working over the holidays. I can't reach remote.bergcloud.com, so that's probably why.
We still use it at work every day, so I'm really keen on getting it working again.

Here's its MAC address: 00:f7:6f:6f:55:30

Once that's done, I'll try to get Sirius running on our servers, so it can remain working forever ;)
Thanks!

[2016-01-11 19:15] ajarink commented on #8
Hi @genmon

Can you add MAC address 40:d8:55:01:c3:1a
please? Thanks!

[2016-01-11 20:02] chrisjelley commented on #8
Hi

Can you add MAC address 40:d8:55:01:c0:e:1 please.

Thanks!!

Chris

[2016-01-12 15:13] patrickngscription commented on #8
Hi @genmon please add my MAC address: [40:d8:55:01:cb:33]
Thanks so much!

[2016-01-12 20:10] kuiche commented on #8
Hi @genmon, could you add mine too? 40:D8:55:01:CA:D6

Thanks a lot!

[2016-01-14 12:49] relainworld commented on #8
Hi @genmon

Can you add MAC address 40:d8:55:19:71:03
Thanks so much!
Thanks for this project!

[2016-01-14 15:21] braucci commented on #8
Hi @genmon , please add my MAC address  [40:d8:55:19:72:b2]
Ths a lot!
And thanks for this project!

[2016-01-14 17:22] PieterDiepenmaat commented on #8
Hi @genmon, would love to bring our little back to live. So if you could ad the MAC address  [40:d8:55:01:c3:3c], I will be very happy.

Thanks!

[2016-01-15 16:58] geocontrol commented on #15
Hi pixelwise and everyone else,

I have just gotten around to resetting one of my bridges which appears to have worked, but alas alpha is down, so I want to try and get sirius running on a RPi or similar. I know some people who have posted here have gotten it running, so hoping that they can post any notes on whats needed to be done, maybe we can collate them to make it easier?

Thanks everyone an

[2016-01-16 06:42] narururu commented on #8
Hi @genmon.
please add My MAC address[40:D8:55:19:78:25]
Thanks so much!

[2016-01-16 07:41] johndietrich commented on #8
Hi @genmon, and thanks so much for continuing to invest time to help us with our Little Printers. :-)

My MAC address is: 40:D8:55:01:CC:58

However, I'm concerned that there might be something wrong with my Bridge because it stopped connecting Upstream some months ago, even before I believe the Bergcloud servers were turned off. (I only have the Power, Ethernet, and Downstream lights.)

So if get

[2016-01-16 09:41] krigedi commented on #8
Hi @genmon
here my MAC address [40:d8:55:19:72:31]
Thanks for adding it!

[2016-01-16 15:16] lanzwerk commented on #8
hi @genmon
my mac adress is: 40:D8:55:01:C3:BC
thank you very much in advance for adding it!

[2016-01-16 16:13] gsm-com commented on #8
Anyone willing to give Little printer a retirement home, since I don't have a server and @genmon server is down and for his own private purposes. I'm also looking to donate some money via paypal for this "asylum" ;)

Michael

[2016-01-16 23:46] kuiche commented on #8
I'm going to look into setting up a server for as soon as mine gets updated. See how much a DO droplet would cost to run this for a bit, I'll post it here if I can get one set up.

[2016-01-18 08:07] geocontrol commented on #8
Hello fellow little printer keepers :)

Ok, so I think the bridge reset worked, but when i try to run sirius on a local raspberry pi it gives an internal server error when trying to print? Any ideas why? I have some time this week to try and collate a 'how to get things running' and can even try and set up a server for people to use?

cheers people!

[2016-01-18 08:42] kuiche commented on #8
Whats the error? Could open a new issue, to stop this thread getting too messy?

[2016-01-18 09:28] genmon commented on #8
just queued the updates for @amcewen @driesderoeck @semanticdreamer @littlestanley @morozmatik @drueben @jmb4u @ajarink @chrisjelley @patrickngscription @kuiche @relainworld @braucci @PieterDiepenmaat @narururu @johndietrich @krigedi @lanzwerk -- should be done now

[2016-01-18 09:30] genmon commented on #8
@johndietrich the bergcloud servers were up and down for most of last year -- the original intention was to turn them off in May 2015 but I was trying to keep them running. turns out that they were running ok for about half the little printers, but not working at all for the other half. the final shutoff was in December

[2016-01-18 09:33] genmon commented on #8
@ketz I can't find that MAC address in the update server. that might be because the business printers ran through a different set of code -- I don't know the technicals ins-and-outs. but while I managed to get this little printer backend code done, it's possible that the business printers won't be supported

[2016-01-18 09:33] lazyatom commented on #8
@genmon is open-sourcing the software still a possibility?

[2016-01-18 09:35] genmon commented on #8
@lazyatom not the old code

[2016-01-18 10:02] chrisjelley commented on #8
Thanks @genmon not sure this worked for me. Can't seem to access the configure page....perhaps the bridge is bricked...

[2016-01-18 20:15] ajarink commented on #8
Hi @genmon Thanks for adding my MAC address. I worked through all the actions and am now trying to claim my printer though the code it has created. So, the hub is updated, working and it is connected to the right server. Reset of Little Printer also worked out and I got the claim-code. However: the alpha website says "Internal Server Error".
Anything I can do to make that work?

[2016-01-18 20:35] hako commented on #8
@ajarink I had the same problem, I set sirius up myself and it works fine.

[2016-01-18 20:36] geocontrol opened #16 "Installing Sirius"
Hi, Rather than clutter up other threads, here is where we can post any problems we are finding in trying to get the server installed and talking to our little printers.

I have tried to follow the instructions from https://github.com/genmon/sirius/issues/10#issuecomment-137790280 (posted by https://github.com/bskrt) with some initial success in that it appeared to install and run, but when i trie

[2016-01-18 20:43] pixelwiese commented on #8
hi @hako Could you please tell us how? There are a lot of People that don't know what to do with this  piece of code.
You would help a lot of People!
Please post it in this issue, for a little bit better overview: https://github.com/genmon/sirius/issues/15
Me and I think a lot of others would really be happy if you could do that!
Thanks Karl

[2016-01-18 20:46] geocontrol commented on #16
Actually i'm closing this as there is a thread already open to discuss installing issues

[2016-01-18 20:46] #16 closed, assigned to nobody

[2016-01-18 20:47] ajarink commented on #8
@hako Thanks for the tip, but I am not much of DIY-er when it comes to this... I can see that the alpha site is creating the app registration on my Twitter account, but then it goes into the error message afterwards. As mentioned on Matt's guide, the alpha site might be on or off, so maybe it is a process of trial and error.
@pixelwiese : I don't know either, but apparently @hako has an idea ;-).

[2016-01-18 20:52] pixelwiese commented on #8
@ajarink Sorry i just linked you instead of @hako :)

[2016-01-18 22:23] kuiche opened #17 "Little Printer power supply"
I took my little printer apart before moving. The power cable I _thought_ was for the little printer is way to tight a fit when trying to put the metal case on. What kind of power supply is this thing meant to have? Is it possible that the power supply cable I have is just a really tight fit?

If I do have the wrong power supply I don;t want to fry the poor little thing :S.

[2016-01-18 22:38] semanticdreamer commented on #8
Thanks @genmon the update did work for me! The little one just talked to me... :-)

[2016-01-18 22:45] hako commented on #8
@ajarink I'm putting together a how-to guide when I get back, I got it working on Linux. I haven't tried Apple Server but i'll try reproduce on my Mac.

[2016-01-18 22:48] ajarink commented on #8
Thanks @hako ! That would be "amazingly great"!

[2016-01-19 07:28] braucci commented on #8
Thanks @genmon. I'm getting an 'Internal Server Error' when i try to login into alpha website.
All other steps completed successfully though!

[2016-01-19 08:11] kuiche commented on #8
If anyone has trouble with alpha, they can give sirius.extrovert.io a go.

[2016-01-19 08:21] gsm-com commented on #8
@kuiche Hi Samuel, works like a charm! If you keep it running and i can donate something (beer money ;-)  let me know.

Michael

[2016-01-19 08:22] hako commented on #8
@ajarink I have published a [DIY guide here](https://gist.github.com/hako/f8944cfa7b8fb8115f6d)

sirius.extrovert.io by @kuiche is also a good alternative to alpha.littleprinter.com

[2016-01-19 08:50] gsellator commented on #8
Hello @genmon,
My mac adress is: 40:d8:55:01:c9:00.
Thank you very much for offering a second life to the little printer!

[2016-01-19 10:54] dllightman commented on #8
Hello @genmon,
Please add my Adress as well: 40:D8:55:01:C4:B2.
Thank you for this project.

[2016-01-19 17:26] johndietrich commented on #8
@kuiche Just curious if your instance of the server is running on a private server or if you in fact got it up and running on a DO droplet or other public-cloud hosting? Would be happy to kick in some $$ toward getting a permanent instance on DO or AWS or wherever.

[2016-01-19 17:39] pixelwiese commented on #8
At the moment extrovert.io server gives me an internal server error like alpha.littleprinter.com
@kuiche @johndietrich

[2016-01-19 17:48] mjbrej commented on #8
i, too, would be happy to kick in a few $ to help fund a permanent cloud instance...

[2016-01-19 18:31] lazyatom commented on #8
For what it's worth, I'm investigating how easy it might be to write a bit of middleware that can sit between the Bridge and http://printer.exciting.io

[2016-01-19 19:32] ajarink commented on #8
@hako Thanks for the DIY guide! I'll give it a go. sirius.extrovert.io gives the same fault. Should I first change the bridge to that address and then reset the LP again?

[2016-01-19 20:12] hako commented on #8
@ajarink yes, it should work.

[2016-01-19 21:33] krigedi commented on #8
How do I see, if the Software is now updated? Power and Ethernet are light up and the Downstream is blinking. When i put my IP with :81/configure in my Browser nothing happens. What did I wrong?

I've already unplugged the bridge und put it back on.

[2016-01-19 21:34] kuiche commented on #8
@johndietrich it's a DO droplet. It's setup using Dokku, so if it's erroring like @pixelwiese is saying then it may be because it's only on the smallest DO droplet. It says [here](https://github.com/genmon/sirius/blob/master/notes/dokku.md) that there may be problems with docker running out of memory. I'll see if there are any errors in the logs.

I will look into upping the memory on the droplet

[2016-01-19 22:27] kuiche commented on #8
@ajarink @pixelwiese  I've just restarted extrovert, looks like that has fixed it. Kinda annoying that that happens. @genmon would I be correct in assuming this is due to docker not freeing memory?

[2016-01-21 18:52] Landry76 commented on #8
Hello @genmon,
Please add my Adress as well:
berg-cloud-bridge-p9tsns3rm [40:d8:55:19:79:12]
Thank you.

[2016-01-21 19:07] ajarink commented on #8
Hi @kuiche I still get the error message, also after resetting the LP and the Bridge (with the right url).

[2016-01-21 19:15] kuiche commented on #8
@ajarink it's been a day so it's probably run out of memory again. I've reset it again, give it another go now.

[2016-01-21 19:18] ajarink commented on #8
Thanks @kuiche that did the trick. I have now claimed the LP.

[2016-01-21 19:19] kuiche commented on #8
@ajarink great, hopefully I'll get a chance to upgrade the DO droplet soon to one which won't error so often.

[2016-01-22 13:57] amcewen commented on #8
@genmon Thanks! Firmware updated and sorted. Now to work on the server side of things...

[2016-01-22 14:10] pixelwiese commented on #8
@hako Thank you very much for the guide, i got the server running on an Ubuntu Laptop! With your guide it was very easy :)

[2016-01-23 07:00] vjaitly commented on #8
@genmon.
Please add my address as well
40:d8:55:19:79:12
Thank you.

[2016-01-24 21:46] johndietrich commented on #8
@kuiche @genmon Well, success at getting the Bridge updated, so it wasn't in fact bricked as I had feared. Can successfully point to new servers now and the settings stick. However it looks like neither sirius.extrovert.io nor alpha.littleprinter.com are working at present since I can't get the Twitter authentication bit to work so I can claim the printer.

I do I have Raspberry Pi sitting around

[2016-01-24 23:00] hako commented on #8
@johndietrich I've done a guide here, https://github.com/genmon/sirius/issues/8#issuecomment-172773048 It can be done on the Pi. (Note that this is for OSX and Linux)

If you're on Windows, I could try getting sirius to run on Windows and documenting it in the guide.

[2016-01-24 23:01] kuiche commented on #8
I believe there was a guide posted by @hako. There is an issue with both alpha and extrovert meaning they currently both need to be restarted quite often as docker runs out of memory :(.

[2016-01-24 23:07] kuiche commented on #8
@johndietrich extrovert is restarted, if you want to give it a try.

[2016-01-24 23:22] johndietrich commented on #8
@kuiche That did the trick, thanks. Nice to see the little guy still works after all these months. :)

[2016-01-27 19:43] nixnombre opened #18 "?"
Hi Matt, could you add mine as well:
40-D8-55-19-7A-26

Thank you very much for keeping these friendly little things alive.
Found your notification not before now.

[2016-01-27 19:43] #18 closed, assigned to nobody

[2016-01-27 19:45] nixnombre commented on #8
Hi Matt, could you add mine as well:
40-D8-55-19-7A-26

Thank you very much for keeping these friendly little things alive.
Found your notification not before now

[2016-01-29 17:08] dspalton commented on #8
Got two little guys
40:D8:55:01:C4:FD
40:D8:55:19:75:53

Also have a server with spare space, and capacity, happy to use that for anything needed?

Dave

[2016-01-30 13:30] anneris commented on #17
![img_2265](https://cloud.githubusercontent.com/assets/1975811/12695938/47738306-c75d-11e5-890c-ead9b41c0be5.JPG)

Here you go!  A picture of our Little Printer power supply.

It's quite specific (6V) and BERG branded.
Normally it's impossible to confuse the bridge and little printer power supplies...
[source](https://www.youtube.com/watch?v=qrDw7JVp8lE)

[2016-01-31 10:59] kuiche commented on #17
Thanks!

Yeah, damn. I've got the wrong cable. I have no idea where the little printer cable is then! Any if there's any similar power supplies on the market? I've had a look but come up empty handed so far :(

[2016-01-31 15:13] anneris commented on #17
Any 18W 6V 3A power supply should do ... but it needs the right connector.

You could try [RS-online](s-online.com) but I don't know if you can order there if you're not a business customer.
This [power supply](http://benl.rs-online.com/web/p/plug-in-power-supply/7316006/) should work, but double check the connector size.

Good luck.

[2016-01-31 15:29] mazhead commented on #8
@genmon
please add: 40:D8:55:01:CB:44

[2016-01-31 15:49] amcewen commented on #16
I presume that the "thread already open to discuss installing issues" is issue #15 (mostly adding this comment to let others find that more easily in future if they get here first :-)

[2016-01-31 16:08] hako commented on #15
@pixelwiese @geocontrol I have made a guide here. [Installing Sirius on Mac / Linux / Raspberry Pi](https://gist.github.com/hako/f8944cfa7b8fb8115f6d)

[2016-01-31 17:30] owainrich commented on #8
Hi guys, I've got the server up and running on my mac using @hako 's brilliant guide.  Everything works and I've been able to message the printer.  If anyone wants to try using the server, the address is owaindisk.no-ip.org:5000  Will be interesting to see if I get the docker memory problem.  I'm going to leave it running with the aim of moving it to a raspberry pi which I can leave on all the tim

[2016-01-31 19:49] kuiche commented on #8
@owainrich if you used @hako's guide, then you probably won't have the issue as I believe it doesn't use dokku. Which is what uses docker :)

[2016-01-31 22:44] owainrich commented on #8
@kuiche thanks man - that's useful to know - I didn't realise that.  I'll be watching how things go with the stability of the server.  I can see a couple of people's bridges connected to owaindisk.no-ip.org and anyone is welcome to direct their bridges over here - I'll be keeping the server on.  I'm not much of a programmer but I've been tweaking the code to increase the font size of messages and

[2016-02-06 19:28] mvk2010 commented on #8
Hi Matt,
this is my MAC: 40:d8:55:1:c0:b9
Thank you.

[2016-02-07 00:07] littleprinter commented on #8
Hi Matt,
that sounds terrific, could you please add my MAC: 40:d8:55:01:ca:49
Thanks!

[2016-02-07 16:14] genmon commented on #8
hi folks -- updates done: @gsellator @dllightman @Landry76 @nixnombre @littleprinter

@dspalton -- the second address says the update is already queued up but the Bridge hasn't been online since March last year?

@vjaitly -- this is the same MAC address as given by landry76, you should have a different one?

@mvk2010 -- there's a missing character in this, ":1:" should be two characters

[2016-02-07 16:16] mazhead commented on #8
@genmon
Hello Matt, what about 40:D8:55:01:CB:44 ?

[2016-02-07 16:18] genmon commented on #8
@mazhead sorry forgot to add your name, yes also done

[2016-02-07 16:57] vjaitly commented on #8
@genmon
Hi Matt,
Yes, it is 40:D8:55:01:CD:B3.
Sorry for the confusion ..

[2016-02-07 17:02] genmon commented on #8
@vjaitly cool, done!

[2016-02-07 17:04] vjaitly commented on #8
@genmon , that was super quick ..Thanks.

[2016-02-07 19:19] mvk2010 commented on #8
Ups,
40:d8:55:01:c0:b9
Marcus

[2016-02-08 17:15] anneris commented on #15
@pixelwiese @geocontrol And we used @hako 's excellent guide as input to make [LittlePrinterPi](https://github.com/beyondio/LittlePrinterPi), a pre-made image or install script to get Sirius up and running on your Raspberry Pi.  I tried to include a full installation guide in [the wiki](https://github.com/beyondio/LittlePrinterPi/wiki).

Hope this helps!

[2016-02-08 17:25] anneris commented on #10
@felippenardi @chepeme @santheo @awk0324 @ptitb
Together with @bskrt and using @hako 's excellent guide as input, I made [LittlePrinterPi](https://github.com/beyondio/LittlePrinterPi), a pre-made image or install script to get Sirius up and running on your Raspberry Pi.
I tried to include a full installation guide in [the wiki](https://github.com/beyondio/LittlePrinterPi/wiki).

Let us know if thi

[2016-02-08 21:36] kuiche commented on #10
Nice, though this is kinda what the Dokku route achieves. I guess it doesn't have the Docker memory issue though!

[2016-02-09 17:55] felippenardi commented on #10
@anneris Thank you so much, man!!

[2016-02-09 18:29] ptitb commented on #10
@anneris This is great news, now trying to get it up and running! Thanks!

[2016-02-09 22:56] mguth commented on #8
@genmon my MAC is 40:d8:55:01:c0:aa

Thanks in advance!

[2016-02-09 23:41] ptitb commented on #10
Yes, I got it working on a Raspberry Pi B!
I found that after running the install script I had to manually run `./manage.py db upgrade` before it was working.

Thank you so much!

[2016-02-10 00:29] ptitb opened #20 "Images for personalities"
Hi @genmon,

Is it possible for you to share the images used as personalities and the faces that were used for events and holidays?

Thanks!

[2016-02-11 11:07] anneris commented on #10
Strange, because the install script is supposed to do that for you.
Did you get some kind of error message before you manually upgraded the database?
(if so, let us know [here](https://github.com/beyondio/LittlePrinterPi/issues))

[2016-02-13 00:32] ghost commented on #8
Hi @genmon could you process my MAC address please it is 40:D8:55:01:C7:8B
Thanks.

[2016-02-14 16:43] pablonoel commented on #8
Hi @genmon Thanks for this, I was worried about my little printer to be forever obsolete but after a quick dig I found this repo, I hope I can get everything running.

My MAC is `[40:d8:55:01:cd:35]`

BTW, I used the bonjour browser to find it but as @chepeme pointed up, the MAC is written on the back of the bridge

[2016-02-14 22:09] johndietrich commented on #8
@kuiche @owainrich Just wondering if anyone has a server up and running currently? Extrovert still seems to require resetting, and Owaindisk seems to be unreachable lately (although the no.IP DNS may have just gotten out of sync).

I'd love to get this up and running on my Raspberry Pi but I haven't had much luck with the guides because mine is running NOOBS and I think that creates some complicat

[2016-02-15 00:42] mroxfordyazuka commented on #8
Thanks! @genmon my mac is:

40.D8.55.01.CC.7A

[2016-02-19 16:15] tomwagner commented on #8
@genmon Thank you `40:d8:55:01:ce:13`

[2016-02-27 12:05] alfo commented on #8
Hi! Mine is `40:d8:55:01:c8:db`

[2016-02-27 17:09] arnoldsuperstar commented on #8
It might be a bit off-topic, but if anyone here is interested in buying the whole set (printer+bridge+3 paper rolls+cables), let me know...

[2016-02-28 15:17] ghost commented on #8
Hey, hopefully I understood well!
my MAC address is [40:d8:55:01:cb:98]. Thanks a bunch!!

[2016-02-29 10:58] jonhickman commented on #8
@genmon thanks for undertaking this project, Matt.

Please queue up [40-D8-55-01-C7-15]

[2016-02-29 13:35] hako commented on #20
Would like to know this too.

[2016-03-02 02:42] valeksenko commented on #8
@genmon Can you please add my mac as well? [40:d8:55:01:c1:f8]

[2016-03-04 11:57] jensbraun commented on #8
@genmon thanks for keeping the little printer alive.
Please add my MAC address, too: 40:d8:55:01:cc:c6
Thanks!

[2016-03-06 18:02] purplesime opened #21 "Please add MAC address"
Hey @genmon,
Hope you see this. I'm not techie at all, but the red light is making me sad and I reckon if I can get this going it might help others.

MAC address to add: 40:d8:55:01:c1:3e

Others in this thread. I'm looking to run this on a Pi, so if anyone has good instructions then let me know - either here or via Twitter @purplesime

I've had my LP since the first batch went on sale. Two months

[2016-03-06 18:03] #21 closed, assigned to nobody

[2016-03-06 18:04] purplesime commented on #8
Hey @genmon,
Hope you see this. I'm not techie at all, but the red light is making me sad and I reckon if I can get this going it might help others.

MAC address to add: 40:d8:55:01:c1:3e

Others in this thread. I'm looking to run this on a Pi, so if anyone has good instructions then let me know - either here or via Twitter @purplesime

I've had my LP since the first batch went on sale. Two months

[2016-03-07 17:41] jonathanrelf commented on #8
Hey, my Mac address is 40:d8:55:01:c0:f3

Hoping to get this back up and running soon :)

Cheers

[2016-03-09 20:25] schafferhans commented on #8
Love the LP!
my mac:
40:D8:55:01:CE:2D

[2016-03-09 21:18] narururu commented on #8
Thanks @genmon.

I'm getting an 'Internal Server Error' when i try to login into alpha.littleprinter.com .
All other steps completed successfully though!

I'll try again later.

[2016-03-11 10:52] genmon commented on #8
Hi @mvk2010 @mguth @dalecousins @pablonoel @stantonsteward @tomwagner @alfo @Matteosmth @jonhickman @valeksenko @jensbraun @purplesime @jonathanrelf @schafferhans -- your Bridge updates are queued up

I've also rebooted alpha.littleprinter.com so that should run for a few days before whatever memory leak that takes it down, takes it down again

Sorry for the delay -- real life is giving me a very

[2016-03-14 10:43] ivaniegorov commented on #8
Hello, my mac:
40:D8:55:01:C9:34
Thanx!

[2016-03-14 15:27] purplesime commented on #8
Well, I've got to the point where I have a registration code (which is something to celebrate!)
Seems the instructions made sense, with some trial and error.

Now getting internal server errors, so guessing 3 days is the time it takes for the memory leak to take the alpha site down :)

Now, can this non-technical chap get code installed on a Pi? That remains to be seen, but will give it go in a we

[2016-03-17 12:21] mrboo commented on #8
@genmon
Hello Matt, my mac:
40:d8:55:19:79:c8
Thx a lot :o)

[2016-03-21 02:00] danalexilewis commented on #8
@genmon
Hey mate,

Ty for your awesome support.

please update my lil buddy
40:d8:55:19:72:e0

cheers
D

[2016-03-21 18:35] belugone commented on #8
@genmon

40:d8:55:01:c4:12

this is my bridge. please update it

Thank you

:-)

[2016-03-21 21:17] qsnapper commented on #8
@genmon here is my MAC Address to update:
`40:D8:55:19:71:D5`

also, am getting an 'Internal Server Error' during Authentication process on http://alpha.littleprinter.com/

Thanks

[2016-03-22 00:51] msmabry commented on #8
@genmon
Thank you so much for keeping our printers alive. Got one up and running...
Could you be so kind as to queue my second one?
MAC: 40:D8:55:01:C8:20

Best, Mark

[2016-03-22 01:15] Patrickh60 commented on #8
Getting something going with the LP again is great. But what now?   Is it
just tweets to the thing?

On Monday, March 21, 2016, msmabry notifications@github.com wrote:

[2016-03-22 02:09] msmabry commented on #8
@Patrickh60 @genmon

My own experience...

After getting my LP updated with the new firmware as per [here](https://github.com/genmon/sirius/issues/8#issuecomment-120379449), and [here](https://github.com/genmon/sirius/wiki/Updating-the-Bridge), I realized that the "http://alpha.littleprinter.com/" site was not going to be (or was ever advertised to be) reliable.

So I bought a cheap-ass-piece-o-cr

[2016-03-22 08:52] markostamcar commented on #8
Awesome idea, Mark :) Always nice to see an educator who really cares.

[2016-03-23 01:31] davidvasandani commented on #8
@genmon plugged in my bridge and confirmed the MAC address is correct but the bridge isn't updating/flashing lights after multiple power cycles, verified by port 80 not being open. Anyone have an idea of why or what I can do to fix?

[2016-03-23 03:01] stonehippo commented on #8
@genmon can you add my Bridge, please?

berg-cloud-bridge-p9tsmusc7 [40:d8:55:01:c0:f7]

Thanks!

[2016-03-24 12:11] jonhickman commented on #8
Many thanks @genmon.
@davidneudorfer did you try login to the control panel regardless of if you think the update happened? I blinked and missed the light show on mine.

[2016-03-24 19:50] msmabry commented on #8
Hi @genmon,

And one last LP MAC address for me, please!
40:D8:55:01:C4:87

Thanks much,
Mark

[2016-03-25 16:19] davidvasandani commented on #8
thanks @jonhickman, I used fing to find the IP address of the Bridge and tried to connect on port 81 but had no luck. Hoping I don't have to go the route of setting up a proxy to see what the Bridge is doing.

[2016-03-27 12:37] davidvasandani commented on #8
@genmon after many reboots the Bridge just sits there mocking me ;) with a blinking ethernet light. Does this mean its bricked? If so, are there any alternative interfaces to communicate with the Little Printer?

[2016-03-29 18:16] danielle-leila commented on #8
Hi @genmon,

Could you kindly help bring my Little Printer back to life?
MAC address: [40:d8:55:01:cd:4c]

Thanks in advance!

P.S. Obviously that weird emoticon in my address actually means "cd"... thanks Github, for being weird.

[2016-03-31 02:43] kpeeem opened #23 "Frontend dev"
My front-dev attempt for lil printer C&C ;)

https://github.com/kpeeem/Atkinson-dither-convertion

<img width="1345" alt="UI" src="https://cloud.githubusercontent.com/assets/9886393/14163968/a2776a26-f703-11e5-880f-d2ca8542fc03.png">

alpha implementation in forked-repo:

**Features**
- image processing on client-side
- 1-bit image converting in base64 and send to the server
- changing brightness

[2016-03-31 18:35] kpeeem commented on #8
Bridge dump:
https://github.com/kpeeem/berg-bridge-dump/tree/master/DECOMPILED

[2016-04-01 21:21] mrodikov commented on #8
Hi @genmon

Can you add my mac address also?
MAC: 00:11:32:2e:f7:7d

[2016-04-02 17:52] davidvasandani commented on #8
@kpeeem what is this bridge dump? I'd love to learn more and possibly revive my Little Printer.

[2016-04-02 18:46] kpeeem commented on #20
Some custom faces
![bublegumface](https://cloud.githubusercontent.com/assets/9886393/14228400/4876e702-f91c-11e5-8cdb-15ca41d57795.png)
![jakeface](https://cloud.githubusercontent.com/assets/9886393/14228402/487874f0-f91c-11e5-9960-ba9cbd95c509.png)
![vamface](https://cloud.githubusercontent.com/assets/9886393/14228404/487c3d10-f91c-11e5-8e8f-9ecd9845d5cd.png)
![beemoface](https://cloud.githubuser

[2016-04-03 19:19] purplesime commented on #8
Well, finally today I got a Pi to try this out. Having some issues (I am NOT a technical person at all). Managed to get about halfway, and now stuck at Step 3 of @hako's guide.

Error says Profile does not exist.

Have successfully completed all steps up until I start Honcho/Foreman (I have installed both)

Will keep trying, but any help appreciated :)

[2016-04-03 21:18] hako commented on #8
@purplesime Can you run the code again and post the output?

[2016-04-03 21:18] purplesime commented on #8
@hako - I have worked out a bit more. Starting honcho I get this output:

21:17:14 web.1  | Error: class uri 'flask_sockets.worker' invalid or not found:
21:17:14 web.1  |
21:17:14 web.1  | [Traceback (most recent call last):
21:17:14 web.1  |   File "/usr/local/lib/python2.7/dist-packages/gunicorn/util.py", line 139, in load_class
21:17:14 web.1  |     mod = import_module('.'.join(components))
21

[2016-04-03 21:33] hako commented on #8
@purplesime Try running `pip install gevent==1.0.2` to see if that fixes the issue.

[2016-04-03 21:35] purplesime commented on #8
@hako Output is:
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    load_entry_point('pip==1.5.6', 'console_scripts', 'pip')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 356, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 2476, in load_entry_poi

[2016-04-03 21:42] hako commented on #8
Try reinstalling `pip` again. `sudo apt-get -y remove python-pip && sudo easy_install -U pip`

[2016-04-03 21:43] purplesime commented on #8
Done. Where should I pick up the instructions?

[2016-04-03 21:52] purplesime commented on #8
Thanks @hako I appear to have got to Step 5! I'll pick up the remaining pieces tomorrow. Thanks for all your help.

[2016-04-04 07:47] purplesime commented on #8
All working this morning!

Proof that, with some help, even a non-technical person can do this on a Raspberry Pi.

I now have a working LP, even if isn't quite the same. Thanks @genmon for keeping things alive, and a huge thanks to @hako for stepping in with help last night.

[2016-04-04 10:15] purplesime commented on #8
Other non-tech types might also find this link useful: https://github.com/beyondio/LittlePrinterPi

[2016-04-04 13:56] purplesime commented on #8
Short-lived success! My LP Bridge constantly falls over. Even powering it down isn't working now. Anyone else noticed this?

[2016-04-04 14:16] hako commented on #8
@purplesime Can you post debug logs when you try to shut down the bridge?

[2016-04-04 14:19] purplesime commented on #8
Bridge just went to flashing Downstream light and no upstream light about an hour after I got things going this morning. I haven't looked into any of the code as I assumed it is a hardware fail.

[2016-04-04 14:21] purplesime commented on #8
Here they are. It's a long list!

14:20:57 web.1  | DEBUG:sirius.protocol.protocol_loop:Received EncryptionKeyRequired(bridge_address=u'000d6f0001b307b0', device_address=u'000d6f00015d9c4e', hardware_xor=6131745).
14:20:58 web.1  | INFO:sirius.protocol.protocol_loop:Initialized next_command_id as 14
14:20:58 web.1  | DEBUG:sirius.protocol.protocol_loop:Received BridgeLog(bridge_address=u'000d6f000

[2016-04-05 16:44] purplesime commented on #14
I don't know if this ever got answered/sorted, but I had my LP working for about two hours and then the upstream and downstream lights just stopped being lit and it all went offline. Now, nothing. I'm assuming it's bricked, but unsure.

I'm not technically-minded but I can follow instructions. Any way to reset the bridge or is it dead and gone for good?

Any help appreciated, or even a "nope, can'

[2016-04-06 07:43] bskrt commented on #14
@purplesime Our bridge is still dead too. I guess @genmon is the only one who could enlighten us on this one.

[2016-04-06 08:30] anneris commented on #14
@purplesime Just to be sure, did you update your bridge as described [here](https://github.com/genmon/sirius/wiki/Updating-the-Bridge)?
Also, does the Ethernet LED light up?

[2016-04-06 09:38] purplesime commented on #14
@anneris I actually had it working on my Pi for about two hours and then suddenly the bridge became unresponsive. I unplugged the ethernet (which still lights up when plugged in) and powered it off. Once powered back on, ethernet led and power led come on, downstream flashes and then nothing.

I don't know why it might have stopped, but having determined it's not a software issue I'm left with the

[2016-04-06 09:43] genmon commented on #14
Hi there -- the nature of the Bridge hardware is pretty much beyond me. But from what's being said above, this does sound like hardware failure.

I'm half-remembering old conversations here, but I think there's an intrinsic risk in corrupting the internal Flash storage whenever it is unlocked (??) to change what's stored? Like updating the software or changing where the Bridge points. This is an o

[2016-04-06 09:52] purplesime commented on #14
@genmon Thanks for the update. It does sound like like that's the case. Shame. I might see if I can find someone who has a bridge they don't want and try again.

What I will say is, as someone who isn't technical, getting it working, even for a short period of time, was really good fun.

[2016-04-06 18:16] mrodikov commented on #8
@genmon Ignore my previous message please (MAC: 00:11:32:2e:f7:7d).
Now no need to update bridge - already rooted and changed CUSTOM_ENDPOINT env to my host.

[2016-04-11 13:04] oliverhumpage commented on #8
@genmon Could you add 40:d8:55:01:cc:ad to the update server?

Thanks.

[2016-04-12 13:51] kshan commented on #8
@genmon Could you add 40:d8:55:01:c0:44 to the update server? Thanks.

[2016-04-16 12:14] InteractionJackson commented on #8
@genmon Could you add my MAC address please?

40:d8:55:01: cd:d5

Also (non techie here), does anyone else have the issue of the Ethernet light not coming on at all? The computer registers that 'something' is connected but no action on the bridge besides the power light. Any help would be grand!

[2016-04-16 18:12] benpawle commented on #23
This looks awesome! Nice work :+1:
What needs to happen next to get this hooked up?

[2016-04-16 19:53] felciano commented on #8
@genmon thank you for keep things going here! Could you please add our printer's MAC address as well? Thanks in advance

40:d8:55:01:ca:05

[2016-04-19 14:59] ghost commented on #8
Can you please add my printer?
40:D8:55:01:C2:65

[2016-05-01 14:51] littleprinter commented on #8
Hey guys, I finally managed to get the update running and pointed the bridge to the alpha-server. However, when klicking on "sign in via twitter" I get a internal server error. Any suggestions?

In addition: I wrote a little script for the printer to print a daily puzzle .Any chance to get this running again?

thanks
max

[2016-05-01 15:21] dspalton commented on #8
For anyone needs server space to do anything or host anything let me know
Dave

---

David Spalton
e: david.spalton@me.com
t: 07595 022379
w: www.solidweb.io
w: www.petfeedr.com

#

Checkout PetFeedr, our Smart Pet Feeding device.
Development progress, news, investment and more at www.petfeedr.com
Get on the List at www.getpetfeedr.com
 ================

[2016-05-01 15:24] purplesime commented on #8
@max - best to run your own version. Fairly simple on a Pi. There are plenty of people helping out on that.

Sadly, my Bridge bricked after a couple of hours working again. Anyone got a Bridge they don't want? Happy to give it a home.

[2016-05-04 20:30] olliez0r commented on #8
Hi @genmon. Would you be able to add `40:d8:55:01:cf:5a` to the update list? Many thanks, Ollie.

[2016-05-05 12:33] ghost commented on #8
Still not blinking :(
MAC 40:D8:55:01:C2:65
maybe also this one 6C:FD:B9:D4:D6:17

[2016-05-06 13:48] hako commented on #14
@purplesime @genmon After applying the update about 9 months ago, my bridge has bitten the dust and got bricked :( I'll shelve the printer for now until I find another bridge online somewhere.

[2016-05-06 14:35] GilGrafik commented on #8
Hello,
Please can you add :

d4:9a:20:07:51:1e

thank you in advance for your help : )

[2016-05-06 15:01] GilGrafik opened #24 "Help for first time user"
Hello,

I have just bought a little printer.

Can you tell if the printer will work over a wifi connection or does it always need to be plugged in directly into a ethernet ?

thanks in advance for your help everyone

[2016-05-06 16:25] Meroje commented on #24
The bridge doesn't have wifi connectivity, only ethernet. The communication between the bridge and the printer is wireless.

[2016-05-06 16:56] GilGrafik commented on #24
Ok thanks for confirming and helping me

[2016-05-07 01:13] junkiy commented on #8
Hello!
Could you add:
40:d8:55:19:71:f1

[2016-05-14 17:47] #24 closed, assigned to nobody

[2016-05-14 17:50] GilGrafik commented on #8
Hi Matt @genmon

Could you please add my printers MAC number, I gave you wrong details before -
berg-cloud-bridge-p9tsns261 [40:d8:55:19:70:f9]

Many thanks for your help
Gill

[2016-05-16 19:53] ghost commented on #8
Still not added :(

[2016-05-17 15:14] markostamcar commented on #8
(post content removed due to contact being made)

[2016-05-17 23:30] otakup0pe commented on #8
If someone could add 40:D8:55:01:CD:72 that would  be most excellent.

[2016-05-19 10:06] digitalsalat commented on #8
hi there! could you please add 40:D8:55:19:76:F4 - thanks :-)

[2016-05-21 20:29] MarcW1966 commented on #8
hi ,,, i know this is a bit late .. but could you add my MAC  40:d8:55:01:c0:b2

[2016-05-22 20:55] danalexilewis commented on #8
@genmon Are you ok??? alive and well, but busy? which is fine btw :)

[2016-05-25 08:40] cgrice commented on #8
Hello! Could you please add 40:D8:55:01:C5:15 ? Many thanks :)

[2016-05-30 21:08] mungle commented on #8
Hello! Could you pleas add my little printer too: [40:d8:55:01:c5:02] ? Thank you!
PS: I see there are a lot of people in the queue list... hope Mr. @genmon could help us! ;)

[2016-05-31 19:29] oschrenk commented on #11
Ugh. Coming back to this after month didn't improve the situation. Even setting up my own instance with the amazing https://github.com/hako/dockerfiles/tree/master/sirius did not help.

I'm still getting Internal Server Error.

[2016-05-31 19:37] oschrenk commented on #11
I have some output though:

[code]

[2016-05-31 20:02] oschrenk commented on #11
A different error with the same results

[code]

Although this might be actually a successful authentication but just a failure on the operational side.

@hako Do you know a bit more about the file system stuff in Docker?

[2016-06-02 07:43] mungle commented on #8
Any news there? Could I switch off my device in the meantime...? Thanks

[2016-06-15 09:19] mungle commented on #8
Any updates? Thx

[2016-06-29 16:49] felippenardi commented on #8
@mungle Best you leave your device on until @genmon can make the setup for you.

[2016-06-30 15:19] felippenardi commented on #23
@kpeeem How do we use it?

[2016-06-30 15:25] felippenardi commented on #20
@kpeeem How can we enable custom faces?

[2016-06-30 16:42] samk-f commented on #8
Could you add 40:d8:55:01:c7:c1 if you're still doing this please?

[2016-07-09 14:00] farcaller commented on #8
Do printers still require whitelisting?

[2016-07-10 12:58] hajekj commented on #8
Hi, could you please update the bridge with Mac `40:d8:55:01:c1:9d`? Thanks.

[2016-07-11 08:12] lombutroup commented on #8
Hi, this is good news.
MAC 40:d8:55:19:72:c4
Thanks.

[2016-07-14 21:04] felippenardi opened #25 "Workaround to print images with Sirius today"
Hey guys, just wanted to let you know that although Sirius does not offer option to print images yet, you can work around it by using HTML.

[code]

The image can be hosted both on your computer or on the web.

If you have a vector app, you can produce you own SVG images.

[2016-07-23 12:36] mungle commented on #8
@felippenardi Thank you for your answer... anyway after more then one month and a half I don't know if my MAC was added...

An other question: it's normal that I'm unable to see the page http://192.168.0.8:81/configure ? It tell me: unable to connect to the server. It means it is broken?
Thank you!

[2016-07-25 15:03] felippenardi commented on #8
@mungle I don't think your Mac address was added. @genmon would post here otherwise.

What I would advise you guys here is helping @genmon by grouping all MAC addresses posted since his last response here with the handle of the corresponding users so that it will be at least easier for him to catch up with all the requests.

I don't know him personally and have not talked to him about that. But I

[2016-07-25 15:12] genmon commented on #8
Hi folks -- bridge updates set up for @mrboo @agentlewis @belugone @qsnapper @msmabry @stonehippo @danielle-leila @oliverhumpage @kshan @Magicalizard @felciano @wammbe @olliez0r @wammbe @wammbe @junkiy @otakup0pe @digitalsalat @MarcW1966 @cgrice @mungle @samuelkf @hajekj @lombutroup

Bridge updates _not_ set up for @mechagear @GilGrafik -- I couldn't find the MAC address in the database

Folks: I'

[2016-07-25 15:21] digitalsalat commented on #8
great, looking forward to print again on the little cube... thank you!

[2016-07-25 15:22] PickitPackitSendit commented on #8
Hi can I ask is this printer still something people will want as I have 2,000

[2016-07-25 15:23] johndietrich commented on #8
Just curious....did anyone ever get a version of the server software up and running that is stable and doesn't go down every few days?

[2016-07-25 15:24] dspalton commented on #8
Still about to host it on a server in Germany if needed?

---

David Spalton
e: david.spalton@me.com
t: 07595 022379
w: www.solidweb.io
w: www.petfeedr.com

#

Checkout PetFeedr, our Smart Pet Feeding device.
Development progress, news, investment and more at www.petfeedr.com
Get on the List at www.getpetfeedr.com
 ================

[2016-07-25 15:32] cgrice commented on #8
Thanks, @genmon!

[2016-07-25 16:07] mungle commented on #23
@kpeeem How do we use it?

[2016-07-25 16:24] felippenardi commented on #8
@johndietrich Hosting your own is the best way to go, I have had no problems running it locally on my wifi.

[2016-07-25 17:04] mungle commented on #15
Hello! I'm not an expert but I can figure out almost everything... That's why I'm asking you if is it possible to install sirius on a shared server on hostgator... Hope the answer followed by some hints will be "YES"...!!! :smile:

[2016-07-25 17:44] mungle opened #26 "💡 Software ideas to make Little Printer print again"
Finally I get my LP working again...!!!
As I love it, I was wondering if it will be a way to make an "Open sirius" website like http://alpha.littleprinter.com where developers like us could add open source apps in a easy way improving the features of the site (actually limited to send only messages)! 🎉
To much? 😃

[2016-07-25 18:04] benpawle commented on #26
Hi Mungle. I've been thinking about something similar via IFTTT.

My idea is that you could save am IFTTT phone number in your contacts as 'Little Printer' and send an SMS which would be sent via webhook to a server which would take the sms text and style as HTML and rendered into an image (via PIL or similar) that LP could print - like in the nice Poster script style. Even better if it could enco

[2016-07-25 20:53] pablonoel commented on #8
I'm overwhelmed in happiness 😄  my Lil'P is running again!

[2016-07-25 20:58] pablonoel commented on #8
BTW, if anyone is interested in a template for messages I made an small template:
https://github.com/pablonoel/LittlePrinterFrontend

it looks like this:

![img_0346 1](https://cloud.githubusercontent.com/assets/689077/17117157/f3c6f866-5288-11e6-889b-6b278767923b.jpg)

[2016-07-25 22:52] olliez0r commented on #8
Thanks @genmon. The bridge updated, I was able to log in and change the address to my Pi server but it's totally unreachable since doing this :/... When I plug the bridge in, the ethernet light comes on, the downstream light blinks quickly twice a couple of times then the ethernet light goes off and this repeats. Is it dead? :(

It shows up in bonjour browser and the LP is detecting something beca

[2016-07-25 23:42] Patrickh60 commented on #8
Is the server software still Mac or Linux only?

On Monday, July 25, 2016, olliez0r notifications@github.com wrote:

[2016-07-26 05:32] awfk2long commented on #8
Hi Paolo, how did you do it?!? Mine wont connect to anything despite the update...

[2016-07-26 05:34] awfk2long commented on #8
I wrote this litte app that printed a sudoku every day. Is the somebody else who did something beyond messages?

[2016-07-26 06:22] mungle commented on #8
Which app @awfk2long ???

[2016-07-26 06:30] mungle commented on #26
That's an awesome input I think... But I'm not interest to send messages only...
I'm more interest in other features like instagram photos from hashtag, tweets and news of the days... Dynamic content...! I think the way IFTTT works is great but I don't know from where to start developing something!

Anyway, all the dynamic content should be packed in a simple html and sent as a message to the prin

[2016-07-26 06:34] awfk2long commented on #8
Well. I wrote my own code to crawl some sudoku and print it everyday... App may be a too big of a name

[2016-07-26 06:38] mungle commented on #8
Nice! Could you share it?

[2016-07-26 08:39] olliez0r commented on #8
Fixed my issue for anyone that's having similar - noticed that if I kept refreshing, the configure interface was available for a split second. Set the endpoint URL back to alpha.littleprinter.com and it's alive and staying alive now. It must've not liked my pi server address.

[2016-07-26 09:38] bbru commented on #8
@genmon Hi Matt -- I saw that this thread had come back to life and wanted to add my LP which I still adore!  MAC address is 40:d8:55:01:c1:73 but of course no rush.  Thanks.

[2016-07-26 11:47] pixelwiese commented on #26
I think you would like to rebuild the original Littleprinter website.
When we knew that littleprinter is shutting down, there were a lot of people who said they would like to give some money (monthly or annualy) for the littleprinter service.
It's nonsense to rebuild an existing Application (in my opionion).  Maybe genmon would accept this idea.

[2016-07-26 11:55] anneris commented on #15
@mungle You should be fine on a VPS that you have full root access too (but it will not work on a web hosting package)  ... good luck!

[2016-07-26 20:12] farcaller commented on #8
Can you add `40:d8:55:19:79:ae` too please?

[2016-07-27 15:35] mungle commented on #8
I'm getting internal server error in alpha.littleprinter.com... 😭 is it break?

[2016-07-27 16:01] ghost commented on #8
Can you update 40:d8:55:01:c7:f1
please

[2016-07-28 11:36] GilGrafik commented on #8
Hi Matt @genmon

Excuse my ignorance but could you not find my MAC deets on the data base it as I had Little Printer switched off?

I have just bought it 2nd hand and I am new to the world of Little Printer.

If so I have switched it back on could you try again to  please add my printers MAC n
berg-cloud-bridge-p9tsns261 [40:d8:55:19:70:f9]

Many thanks for your help
Gill

[2016-07-28 22:12] mungle commented on #15
Thank you! To start understand and learn sirius I preferred to install it on a raspberry pi following the guide you linked... everything works now except for the twitter authentication... it give me back an internal server error... How to understand where could be the problem? Any help? Thank you!

[2016-07-29 07:20] awfk2long commented on #8
currently travelling, but well upload it by mid august!

2016-07-26 8:38 GMT+02:00 mungle notifications@github.com:

[2016-07-29 10:15] irrlphnt commented on #8
Hi genmon!
Could you please add my bridge? 40:d8:55:01:cb:5b

Thanks!

[2016-07-30 23:38] mungle commented on #8
@awfk2long yes please... I need a model to try building some customs "everyday prints"!

[2016-08-01 09:47] amja commented on #8
My bridge got queued for update and I've power cycled a number of times but :81/configure doesn't work. The bridge shows a constant light on everything but upstream. Is something wrong?

[2016-08-01 09:51] mungle commented on #8
@amja Stupid question: did you insert the right IP address?
I get the same issue... and I solved
1- trying other browsers.
2- when my downstream light was flashing I tried to refresh the page
3- after refresh, leave the page open a few minutes since the log-in pop up....

[2016-08-01 09:59] amja commented on #8
@mungle definitely using the right IP (DHCP reserved it on my router). Same issue in Safari and Chrome. Rebooted the Bridge to get the downstream light flashing but refreshing the page gives the same "ERR_CONNECTION_REFUSED" in browser.

[2016-08-01 21:01] johndietrich commented on #8
@amja So if it's any consolation, you're probably not doing anything wrong. The first time I re-pointed my bridge a few months ago, it was no problem at all -- after the update, the Configure page came right up. I recently (finally!) got Sirius up and running on my own RPi, so I needed to point it to the new server URL of my Pi, and darned if it wasn't almost impossible. @mungle had some good idea

[2016-08-01 21:10] johndietrich commented on #26
I have no knowledge to back this up, but it always sounded like there might be some intellectual-property issues around the original back-end code that have made it impossible for genmon to make that available to anyone. (I'm making this up, but here's a hypothetical scenario -- you create a company, hire some developers to build code, end up liquidating the company and can't afford to pay off the

[2016-08-01 21:57] mungle commented on #26
I was wondering the same about code copyright...

Anyway, there are a lot of people that love LP and it's a shame to let id die...

Anyway, unlikely I'm not an expert programmer, but I hope someone very cool will hear our voice and help us give a new life to the lovely LP.

I hope @awfk2long could give us an hint sharing his code that print a sudoku everyday... And if I could understand it, I hope

[2016-08-01 22:33] olliez0r commented on #15
@mungle try entering this from the sirius path "python manage.py db upgrade"

[2016-08-01 22:35] mungle commented on #15
Thank you very much for your help. I already solved the issue and posted the solution here: https://github.com/beyondio/LittlePrinterPi/issues/1

[2016-08-03 12:44] amja commented on #8
@johndietrich I'm pretty sure I saw some blinking update lights. Tried pinging but didn't make a difference. Would it be bricked if it can still connect to the printer itself? The downstream light comes on after rebooting.

[2016-08-03 23:11] johndietrich commented on #8
Hard to say, but it seems unlikely that it would be completely bricked if it's still connecting to the printer -- although always possible that it's little web server might be messed up somehow. All I can suggest is to keep trying and maybe it will respond eventually. You might ask @genmon to queue your MAC address up one more time, just in case it didn't update.

[2016-08-04 06:34] semanticdreamer commented on #8
@amja if I recall correctly (it dates a while back since I've got mine updated/ configured) I experienced a similar issue: the http endpoint `:81/configure` was not stable - to say the least.

I had to power cycle the bridge several times and literally _catch the right moment_ when hitting the endpoint w/ a browser refresh would finally succeed.

After I managed to get it configured it's running s

[2016-08-04 06:51] mungle commented on #8
Experienced the same like you @semanticdreamer ! For me worked as well refrashing the page, getting the server error and wait a bit until the login popped up!

[2016-08-04 10:36] amja commented on #8
Is there any way for @genmon to check if the update has actually been delivered?

[2016-08-06 12:01] YangLuSE commented on #8
Thank you. I just bought little printer, but sadly heard about original server is turned off.
Could you please make it alive? Thanks a lot!
[40:d8:55:01:c0:f0]

[2016-08-12 09:39] mungle commented on #26
Hei @awfk2long!
Do you have time to post your code to crawl some sudoku and print it everyday? I need to build a project but I need an hint to start with and **your code could help me a lot** I think!
Thank you! 😄

[2016-08-15 05:18] YangLuSE commented on #8
Thank you. I just bought little printer, but sadly heard about original server is turned off.
Could you please make it alive? Thanks a lot!
[40:d8:55:01:c0:f0] @genmon

[2016-08-15 20:04] awfk2long commented on #26
Hi @mungle , sorry for the delay, but I was travelling.
Here is the code: https://github.com/littleprinter/puzzle_str8t
it is not perfect, but was running perfectly before the server went down. I copied an old example (and did not care too much about documentation, sorry!)
I had it running in my dropbox and the little printer server pointed directly there.
Curious if you get it working. I still ha

[2016-08-15 21:10] mungle commented on #26
Thank you @awfk2long !
Actually your link pointed to a empty rep... Anyway, I tried to visit php or python version linked in the readme file but I'm not sure the code will run with sirius...  I will try on these days and in the meantime @genmon could maybe know more about compatibility and better address us! 😜

[2016-08-16 04:48] awfk2long commented on #26
sorry, @mungle , i think there went something wrong with the upload. please try again & let me know.

[2016-08-19 17:29] lichtteil commented on #8
@genmon Thanks for your support, I really appreciate! Can you please also add my MacAddress?

[code]

[2016-08-20 22:34] felciano commented on #8
I'm running into the same issue as @amja -- power cycled a number of numbers, frequently hitting the refresh, but always get the can't connect to server error. Would appreciate any suggestions for how to debug this further, esp if there is a way to see if the update was actually applied.

At the moment, bridge boots fit, with the Power, Ethernet and Downstream lights on solid. Upstream is off.

I'

[2016-08-23 11:19] lassevestergaard commented on #8
Hi @genmon

Thanks for maintaining this! Can I make you add my mac address as well: 40:D8:55:19:76:EE

Regards

[2016-08-25 06:46] Spshulem commented on #8
40:D8:55:01:C3:1D

THANK YOU SO MUCH!

@genmon

[2016-08-29 20:51] mungle commented on #26
I've uploaded PHP version on my server but I can't find any way to address the script to my printer. The examples has been made for the old Berg Cloud "Appstore" not for this sirius version... My LP is getting dust... @genmon could you light us up?

At the moment I would love to find a way to print latest instagram pictures based on hashtag!

[2016-08-31 10:13] meshy commented on #8
Ok, going to try to give this a go! Here's one for the next batch...

`40:D8:55:01:C6:57`

Thank you! `:)`

[2016-08-31 10:44] matjohns commented on #8
Thanks for keeping the great little printer hardware alive!

`40:D8:55:01:C9:87`

[2016-09-02 07:58] awfk2long commented on #26
U are looking for a sirus version. Now it makes sense... ;) have not seen one, but would love to get my old sudoku running again :(

[2016-09-15 19:35] benpawle commented on #23
@kpeeem any update on this? Is it just a blank UI that needs hooked up to a server of have you already accomplished this?

[2016-09-18 21:46] otakup0pe commented on #8
So it took me a while to get around to actually poking at this since my MAC was approved. The bridge seems to be stuck in a reboot loop. It alternates between unpingable and pingable but conection refused on port 81.

[2016-09-18 22:11] mungle commented on #8
Hello everyone, I hope your LP has been updated!
If so, would all of you be happy to share what you made with Little Printer posting your projects/ideas to this thread? https://github.com/genmon/sirius/issues/26

At this state Sirius looks too basic and without automatic functions or schedule!
Thank you everyone!

[2016-09-18 22:13] johndietrich commented on #8
@otakup0pe Well, mine basically does the same thing, but all hope is not lost. For whatever reason, mine seems to be unhappy unless it manages to connect to the printer (downstream light on). Once the downstream connection is up, then the web interface on port 81 seems to come alive.

The connection between the printer and bridge is over ZigBee, so I'd suggest connecting the bridge to Ethernet and

[2016-09-20 18:51] felippenardi commented on #23
I think this is a concept, not a working interface.

[2016-09-21 13:07] lichtteil commented on #8
@genmon do you still confirm when you add mac addresses to the update queue?

[2016-09-25 04:36] stonehippo commented on #8
It doesn't seem like my bridge ever updated. Port 81 isn't open (I've confirmed that with `nmap -p 81 [my Bridge address]`) and pinging/resets/etc don't seem to have any effect. I've reset it a few times, but no go.

Question: has anyone with a working bridge tried it with the BERGCloud DevShields? I'm wondering if they'll work. I have to think that the firmware is similar but not identical. Do yo

[2016-09-25 05:55] stonehippo commented on #8
@mechagear when you say you rooted the bridge, do you mean that you were able to log in as root via the serial interface? If so, mind sharing the password? :)

[2016-09-25 16:35] stonehippo commented on #8
I've decided to the root the bridge, since I've got access to the serial interface, and it's running Linux with the U-Boot loader.

[2016-09-25 22:17] stonehippo commented on #8
@mechagear where did you set CUSTOM_ENDPOINT? I've been able to root my bridge and decompile the bridge code, and I can't find any mention of that environment variable. Perhaps you got the update after all?

@genmon is there any way to confirm, from the code on the bridge, if the update went through? Based on what I'm seeing, I don't think it did.

**UPDATE** I just noticed @kpeeem's dump from the

[2016-10-01 18:56] felippenardi commented on #8
@genmon Please:

`40:d8:55:19:79:e6`

[2016-10-04 09:56] genmon commented on #8
Hi folks inc @felippenardi @stonehippo -- I've been trying to track down why Bridge updates aren't happening, and it turns out that I no longer have access to the server which manages the updates, and it's fallen over for some reason. Most likely explanation was that it was attached to an account I never had the credentials for,  I didn't manage to get my hands on the credentials in the handover,

[2016-10-04 22:20] felippenardi commented on #8
@genmon Oh no! :(

Would you be so kind to point me to the place where they are discussing Bridge update over here?

[2016-10-04 23:48] stonehippo commented on #8
@felippenardi If you're feeling up to some messing with the bridge hardware, it's possible to get root access to the Linux system, change the password, then log in and update the software. I've figured how to do it, but haven't had a chance to get the updated files onto the bridge yet. Once I do, I'll write up a guide.

Fair warning: this does involve opening up the bridge, and you'll need somethi

[2016-10-05 12:15] lichtteil commented on #8
Yes, those are bad news :(
@stonehippo would be great to have a guide for that!

[2016-10-07 17:51] felippenardi commented on #8
@stonehippo Thanks for the information! I'll be waiting for it too.

Meanwhile, I have two bridges, one of then was updated via cloud a few months ago—so I was using with Sirius—and the other one wasn't.

Thing is, the "good" bridge (the one that was working with Sirius) stopped working suddenly. I cannot see it via the Bounjour Browser, thus I can't not it's IP. The intact bridge can be found via

[2016-10-10 20:42] felippenardi commented on #8
@genmon I have two bridges, and one of them was unblocked by you a few months ago. It stopped working recently and it doesn't appear anymore on the bonjour browser under "Workgroup Manager". My other intact bridge does appear on bonjour when I connect it, so it is not a problem with the cable.

Do you have any suggestion of what I can do to find my bridge ip again?

[2016-10-10 21:06] johndietrich commented on #8
@felippenardi Can you let us know a bit more? How many of the bridge lights are coming on? Obviously not Upstream, but is the Downstream light coming on if you put thee printer nearby and plug it into power at the same time?

Does the Ethernet light come on? If so do you have a router that lets you see what devices are connected by MAC address? Another option would be if you take the MAC address o

[2016-10-10 22:38] felippenardi commented on #8
@johndietrich Thank you so much for the directions! I'll try what you suggested and confirm here.

[2016-10-19 14:03] atomictty commented on #8
Note: My bridge is stock.
@stonehippo I have some experience playing around with OpenWRT, including soldering pin headers and connecting up a TTL-to-USB adaptor, loading firmware onto an otherwise bricked device (i.e. U-boot only) etc.
If you can throw some hints my way on location of headers/pads, TTL connection settings, I can help document the process. I guess serial connection allows for singl

[2016-10-22 18:46] stonehippo commented on #8
@atomictty @felippenardi  There's a three-hole serial interface on the board; it's labeled _Serial_.

I've begun to document working directly with the bridge: https://gist.github.com/stonehippo/814e1e3cfb7256e521624528900b2ea1

So far, I've got notes on connecting to the serial interface. I'll add material on getting into single user mode and resetting the root password sometime soon, as well as t

[2016-10-23 19:59] stonehippo commented on #8
Not sure when I'll finish my docs, but here's a link on how to root the bridge once you're connected to the serial port: http://pipt.github.io/2013/04/15/rooting-berg-cloud-bridge.html

[2016-11-05 05:27] ghost commented on #8
@genmon it looks like I waited a month too long to get around to posting my MAC address :-(

If you get things back in order could you add the following to the queue?

[code]

Thanks.

[2016-11-13 18:00] zoetrope69 commented on #8
@stonehippo I've followed those instructions and got SSH access. Bit lost as to how I'd update the bridge from here. Is the update in this repo?

[2016-11-13 18:26] johndietrich commented on #8
@zaccolley I don't think @stonehippo has gotten to that point in the documentation yet, but once the update files are made available somewhere it should be trivial to update now that you have root. So that's good at least.

I was lucky enough to get the update when @genmon could still do the server push, but I'm thinking of rooting mine anyway just to understand why it's so fiddly about connecting

[2016-11-13 18:29] johndietrich commented on #8
Oh, one more general comment/question. Is it just my printer, or are the rest of you experiencing _really_ tiny output when printing? If I use HTML like "<font size = 5>" before the message then it's a readable size, but otherwise is super tiny. Any simple way to fix this on the Sirius server?

[2016-11-13 18:31] johndietrich commented on #8
Ugh, sorry, should have realized the HTML wouldn't show up here unless I escaped it. That's supposed to be a 'font size = 5' tag.

[2016-11-13 18:40] stonehippo commented on #8
@zaccolley @johndietrich yeah, I've been crazy busy, so I haven't had a chance to work on the bridge update. It would be ideal if @genmon could provide the code for the update. In lieu of that, we have the code dump from earlier in this thread. I had decompiled the PHP from the update, and diffed it against the original bridge code, so it's possible to see what should be updated. But rather than f

[2016-11-13 19:56] zoetrope69 commented on #8
Ahh I see, thanks for the pointers. Take your time - was just confused whether I was missing something obvious aha!

[2016-12-17 12:41] vincent-bidaux commented on #8
Hello.

I have never been able to revive my LP. I think my Bridge is updated, but from there, I don't know what to do, and what information is still valid or not.

Could someone help me a little to find the right way?

In advance, thanks.

Also if someone involved in developing anything for LP and Bridge needs help, I'd be happy to bring some. I can't code, but I can do web design and graphic desi

[2017-01-05 15:54] clarrence commented on #8
i just picked up a lil printer on ebay, having wanted one for a few years...
also, i erroniously bought one without the bridge, d'oh. lots to read/learn here,

[2017-01-05 17:33] felippenardi commented on #8
@clarrence Oh no! At this is state it is already very hard to make little printer work *with* the bridge... I don't want to turn you down, but I think there is no way to bring it to life just yet.

[2017-01-23 15:31] rorystiff commented on #8
Not sure if this is still being updated but my MAC address is: 40-D8-55-01-CD-E1

[2017-01-25 12:43] felippenardi commented on #8
@rorystiff Unfortunately it is not

[2017-01-25 20:02] doublehache commented on #8
Hi Matt, Could you add in our mac address too:

40:d8:55:01:c2:00
Thanks.

[2017-01-29 10:27] mazhead commented on #23
Works for me, just use repo from @kpeeem
![img_20170129_111714-01](https://cloud.githubusercontent.com/assets/1275672/22403396/e73df484-e615-11e6-82e5-02b47bcb079c.jpeg)

[2017-01-30 05:00] jkeen commented on #8
Finally trying to get this beautiful piece of technology working again.

Are these steps still valid now, or have the revival efforts advanced? If this is still required… my Little Printer's MAC address is `40:d8:55:19:70:07`

Thanks!

[2017-02-07 14:15] ddombrovsky commented on #8
Hey, please add my printer too: 40:d8:55:19:76:f5

[2017-02-16 21:21] broknspyrl commented on #8
Hiya,

Has this process moved on from the steps noted above, if not would you please add my printer to the queue: `40:D8:55:01:C5:23` as i really would like to revive this beautiful piece of kit!!!

Thank you

[2017-02-18 01:50] zoetrope69 commented on #8
**please read before commenting**

there currently isn't a way to update using a MAC address so please don't reply with that as it's spamming other people watching this thread.

[2017-02-22 16:11] felippenardi commented on #23
@mazhead How to get it running?

[2017-02-28 18:22] thelooosh commented on #8
I need to add mine as well but am not sure if am posting the right address is it "2001:8f8:1123:13ec:4a5:461a:e557:134b" please help cause I really want to use my printer

[2017-02-28 18:38] mazhead commented on #23
@felippenardi clone my fork: https://github.com/mazhead/sirius
and install following the steps in this script: https://github.com/beyondio/LittlePrinterPi/blob/master/LittlePrinterPi.sh

I will be trying to streamline the process a bit in the future, but all credits go to @kpeeem I only copied his work and fixed one thing.

[2017-02-28 20:03] felippenardi commented on #8
**please read before commenting**

there currently isn't a way to update using a MAC address so please don't reply with that as it's spamming other people watching this thread.

[2017-03-09 17:41] joerick commented on #8
# ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️

Hello all! I bought a little printer last week and I've managed to get it online and talking to @genmon's http://alpha.littleprinter.com!

I did it by combining @pipt's serial hack (thanks @stonehippo) with the firmware dump that @kpeeem posted above. It is quite technical!

I documented the process - http://joerick.me/hardware/2017/03/09/little-printer

[2017-03-10 16:28] vincent-bidaux commented on #8
@joerick that's amazing what you did of documenting how to bring the LP alive!
Thanks a ton. Still have to do it though.

If your MAC was added before, do you still need to root the bridge? Or can you skip this "electronics" part...

Again, thanks.

[2017-03-10 16:54] joerick commented on #8
Hey @ibftp - thanks! If your bridge is already upgraded via the MAC address method, I don't think it's necessary to root, unless you really want SSH access to the bridge.

[2017-03-10 17:06] vincent-bidaux commented on #8
Thanks for your answer!

So I can start at "Updating bergcloud firmware" of your guide? Or maybe it's already updated... How to know?

Also I'm confused by .4 of Genmon's guide:

[code]

I don't understand where the "instructions above" are and what "this URL" is.

[2017-03-10 17:12] joerick commented on #8
If you can go to `http://<your-bridge-ip>:81` in a browser and see the bridge config page, you don't need my guide 😄

The 'instructions above' bit in that guide refers to [this comment](https://github.com/genmon/sirius/issues/8#issuecomment-120379449).

[2017-03-10 17:36] vincent-bidaux commented on #8
I see the light;) thanks so much.

[2017-03-10 17:52] stonehippo commented on #8
Nice work, @joerick. I'd been feeling guilty about not getting the dump applied. ;-)

[2017-03-10 18:07] YangLuSE commented on #8
Hi guys, is there any easier way if I have a not "upgraded" bridge? That's too complex to me. Thanks a lot! ;)

Yang Lu

[2017-03-11 09:18] ghost commented on #8
Please update bridge software on 40:d8:55:19:70:eb

[2017-03-12 09:09] YangLuSE commented on #8
Hi Joe!
I'm preparing to follow your instructions. Can you please tell me if that is 3.3v or 5v? Thanks a lot!
Can I update the bridge with my raspberry? Any tip for this?

Yang Lu

[2017-03-13 10:53] zoetrope69 commented on #8
@stonehippo dont feel guilty, its your time you do what you want. ❤️

[2017-03-13 11:05] joerick commented on #8
@YangLuSE I'm not actually sure the logic level. Arduino is 5V, and that worked. Raspberry Pi is 3V3, and [not 5V tolerant](http://raspberrypi.stackexchange.com/a/8320), so if you try, be warned that you might break the Pi. Or the logic levels might overlap and it'll work fine. TLDR: I don't know 😉

[2017-03-13 16:18] johndietrich commented on #8
@joerick @pipt Just wanted to thank you both for your awesome guides. My bridge has been getting increasingly unstable since @genmon first flashed the update last year, to the point where if I could get everything working, any power or networking disruption would leave me trying for days to get everything back up again -- and with no rhyme or reason to what worked and what didn't.

Once I got TTY

[2017-03-13 17:42] rorystiff commented on #8
@joerick Hi Joe! Greatly appreciate you working this out and posting the brilliant tutorial! I've been following along this afternoon and have got all the way to setting up the SSH (Step 4, in pipt.github guide). Would you be able to tell me what the modify command is as I am currently very stuck at that point.

Thank you in advance!

[2017-03-14 13:05] joerick commented on #8
@johndietrich Yes I could discover my bridge with Bonjour, so I'm guessing avahi-daemon was running. Maybe the update didn't complete on your bridge? I think you're probably on the right track copying files from @kpeem's dump. SFTP access is through the SSH daemon, so nothing extra required for that.

@rorystiff You can modify files on the bridge using `vi`. It's got a hella steep learning curve,

[2017-03-14 17:26] johndietrich commented on #8
Thanks @joerick. Bonjour didn't work for me so I had to get the IP from my router management interface. I'm kind of torn because right now everything does work except being able to access the config page -- so as long as I never need to point it to a new server I guess I'm okay (and frankly that server URL has got to be contained within some file I could probably edit via SSH if I ever needed to).

[2017-03-16 15:01] YangLuSE commented on #8
It was 3.3v.

Yang Lu

[2017-03-16 16:08] YangLuSE commented on #8
It was 3.3v. I've measured it today.
Hope can help someone.
I will upgrade next week, hope it works!
I just order a piece of cable, and that is on it's way.

Yang Lu

[2017-03-22 14:54] YangLuSE commented on #8
Hello Everyone!

I’m glad to say that I just finish upgrading manually for bridge.
Is that website alpha.littleprinter.com <http://alpha.littleprinter.com/> down again? I can not login with twitter account. When I logon, it shows me Internal Server Error, nothing else.
Is it possible to build a self server? Can I download some code or program from somewhere?
Thanks for everyone’s help!

Yang Lu fr

[2017-03-22 15:44] johndietrich commented on #8
@YangLuSE Congrats on getting your LP working again!  Some people seem to be using alpha.littleprinter.com with success, but for me it was unreliable and I eventually set up a local server on a Raspberry Pi 3. There are a number of ways to go about this and a few guides published on here, but this was the easiest for me:

https://github.com/beyondio/LittlePrinterPi#options

The main change I made

[2017-03-22 21:03] YangLuSE commented on #8
I made my pi server works, but same problem. After twitter's authorization, it change into Internal Server Error page. Maybe just because twitter changed their authorize way? I think problems caused by server program.

Yang Lu

[2017-03-22 21:08] johndietrich commented on #8
@yangluse no, Twitter hasn't changed anything. It should work. I would suggest going into your Twitter account and deauthorizing anything having to do with little printer, and on your system that you're accessing the page from I would delete any cookies related to Twitter or little printer and then close your browser completely and then try again.

[2017-03-22 21:18] YangLuSE commented on #8
Same.

Yang Lu

[2017-03-22 21:21] johndietrich commented on #8
@yangluse did you remember to update the configuration page on the bridge to point to your new local server address? And are you sure that it took?

[2017-03-22 21:25] YangLuSE commented on #8
Yes, I did. Same problem. If you mind to try server still accessible? I think arguments from twitter might changed cause server has error.

Yang Lu

[2017-03-23 16:27] YangLuSE commented on #8
Here is the problem in terminal.

When it shows Internal Server Error.

Yang Lu

[2017-03-23 16:30] benpawle commented on #8
alpha.littleprinter.com now working for me either so chances are its having one of its down-times...

[2017-03-23 19:04] Patrickh60 commented on #8
Sorry if this the wrong place for a sales question.

Anyone interested in buying a Little Printer?  I've been too lazy to put it on Ebay but that time's coming.

Patrick

[2017-03-24 02:31] msmabry commented on #8
@Patrickh60, I'd be interested in purchasing. To keep discussion off this thread, you can contact me directly at msmabry at gmail.

[2017-03-24 08:39] YangLuSE commented on #8
Is there someone can do me a favor?
If someone can works with alpha.littleprinter.com, can you try to register a new account, and try to login. I don't know if just because it's full of database. Thanks a lot!

Yang Lu

[2017-03-31 06:45] hako commented on #8
Same as @msmabry, If anyone has an unused (but working) Little Printer I would be interested in purchasing it off you. Email in profile.

[2017-04-01 16:55] msmabry commented on #8
@joerick, Thanks for your excellent guide that helped in getting my new bridge firmware updated (and working!) in spite of my "eye of newt, toe of frog..." understanding of the instructions!

[2017-04-07 14:13] nickehsmith commented on #8
Wow, thanks @joerick. I thought all was lost as like a few people here I was too slow to act on getting the Bridge remotely flashed. Will have to wait till I have time and the tools to do this.

One thing I was pondering (probably very naievely) is whether there is any way to essentially create a 'Virtual Bridge' which would solve the problem of flashing the actual bridge altogether. I'm sure this

[2017-04-07 14:21] joerick commented on #8
Thanks all!

Such a thing might be possible with a Raspberry Pi and the software from the bridge, but I think the Pi would need a Zigbee wireless interface, and I dare say that porting it would be more work than hacking the bridge! ;)

[2017-04-07 15:01] nickehsmith commented on #8
@joerick see! I knew there'd be a good reason why this hadn't already been approached by this great community. If only there was a slightly less complex/intimidating way of flashing the bridge

[2017-04-07 15:34] hako commented on #8
I decided to try my hand at fixing my LP bridge once again after following @joerick's great guide on flashing it. After hooking up the required cables and opening up the bridge and getting into serial, I modify my boot arguments and then boot the bridge. Then I get these [ECC Errors](https://gist.github.com/hako/e26d191ee9d8c1ca8784da4e0dbca0d3) similar to what @johndietrich [got a few days ago](h

[2017-04-07 16:29] johndietrich commented on #8
@hako Well in my case, it didn't appear to be getting to the shell either -- but I found if I wait out the ECC errors and hit ctrl-C a few times (and exhibit a lot of patience) eventually it would drop out to the shell and I did indeed have root.

I expanded @kpeeem 's dump and compared some of the directories and found a number of differences, especially with init.d and the daemons being called a

[2017-04-07 18:45] nickehsmith commented on #8
I'm going to hate myself for asking this as an obsessive problem solver, but I care about my little printer too much to brick it (plus my SO may kill me if I end up down another project rabbit hole) ... has anyone who succeeded with the serial hack/firmware flash method considered offering it as a service to others in the absence of @genmon being able to do it remotely? I'm more than happy to pay/

[2017-05-02 11:53] mattayers commented on #8
I may be late to the party, but here's my MAC address for update:
40:d8:55:1:c7:38

Best,
Matt

[2017-05-02 14:24] YangLuSE commented on #8
I don't understand, but the moment you post this, alpha.littleprint.com is available. But minutes later, it "internal server error" again.

Yang Lu

[2017-05-03 14:29] mattayers commented on #8
Why the thumbs down?

[2017-05-03 14:34] meshy commented on #8
# Please read before commenting

There currently **IS NO WAY TO UPDATE A MAC ADDRESS** so please don't reply with that as it's spamming other people watching this thread.

[2017-05-03 14:37] mattayers commented on #8
Ok thanks, someone really needs to take ownership of this project and tidy things up

[2017-05-04 10:38] YangLuSE commented on #8
Now website is online, but it said my printer is offline. LP is double blinking is that correct?

Yang Lu

[2017-06-19 12:54] doublehache commented on #8
Hello There,
I have one Berg little printer to give... if someone is interested - I'm on Paris.
Julien

[2017-06-19 12:56] Haunschild commented on #8
I would also sell mine (including original packaging and extra paper). Sending from Munich, Germany.

[2017-06-19 12:59] hako commented on #8
@doublehache @Haunschild I'm looking into buying, email is: wesley [at] [hakobaito] [dot] co [dot] uk

[2017-08-01 14:43] 3DevUK commented on #8
Hi there,
Our MAC address is 40-D8-55-19-77-8F.
If this service still exists, would it be possible to add our printer to the server?
Thanks.

[2017-10-11 10:34] Landry76 commented on #8
@doublehache

Je suis preneur si elle est toujours disponible...

[2017-10-11 15:19] doublehache commented on #8
@Landry76 je vous fais signe ultérieurement, je ne suis pas à Paris pour le
moment.
Cordialement,

Le mer. 11 oct. 2017 à 12:34, Landry76 <notifications@github.com> a écrit :

[2017-10-11 16:49] Landry76 commented on #8
OK d'acc...
Merci pour votre réponse.

A bientôt.

----- Mail original -----
De: "doublehache" <notifications@github.com>
À: "genmon/sirius" <sirius@noreply.github.com>
Cc: "Landry76" <github@chezlandry.com>, "Mention" <mention@noreply.github.com>
Envoyé: Mercredi 11 Octobre 2017 17:20:03
Objet: Re: [genmon/sirius] Directing the Berg cloud bridge (#8)

@Landry76 je vous fais signe ultérieurement,

[2017-10-29 13:02] pixelwiese commented on #26
Is anything happening here or is the Littleprinter now dead forever? 😢

[2017-10-29 13:11] mungle commented on #26
I suppose it’s dead but I hope it’s not...

[2018-01-21 17:18] benpawle commented on #8
Hi guys! I'm testing something out with little printer and could do with another. Do any of you have a one going spare or that you no longer want?

[2018-01-21 17:44] doublehache commented on #8
Hi,
Already sold mine.
Le dim. 21 janv. 2018 à 18:18, BP <notifications@github.com> a écrit :

[2018-01-21 18:07] YangLuSE commented on #8
Why don’t you try another product. I already gave up my little printer, and start to use Memobird.

Yang Lu

[2018-01-21 19:38] Haunschild commented on #8
I still have mine and would sell it. What would you offer?

[2018-01-22 22:34] MarcW1966 commented on #8
hi,
just took a look at this Memobird - pity they only ship to USA / Canada - will see if i can get it another way direct from china :)

[2018-01-23 06:46] keno47 commented on #8
Shame it looks like a kids toy too!

[2018-01-23 08:24] MarcW1966 commented on #8
agreed it does look very kid friendly - but i suspect thats the market they were originally aiming for
 .. and i also found out that the app is locked to locations in the USA/Canada so this device is of no use for the rest of the world (until they unlock it) - no order from me then.

Marc

[2018-01-23 08:47] mungle commented on #8
I bought one from china... aliexpress.com
There is an app English/China that it should works.
I'm still waiting for the shipping... it will arrive in one or two weeks!

2018-01-23 9:24 GMT+01:00 MarcW1966 <notifications@github.com>:

[2018-01-23 08:48] mungle commented on #8
It will be great to hack it but I don't know if it's possible... maybe with
a python or php script from the web!

2018-01-23 9:47 GMT+01:00 Luca <lucabej@gmail.com>:

[2018-01-23 09:20] YangLuSE commented on #8
I’m in Sweden, and I’m using it. Works good.

Yang Lu

[2018-01-27 01:18] mungle commented on #8
Can you make “bots” with memobird?

[2018-02-11 08:03] y-nk commented on #8
@Haunschild how much you sell (shipping out) ?

[2018-02-11 20:27] Haunschild commented on #8
Sorry already sold it.

[2018-02-11 20:43] johndietrich commented on #8
I also just got a Memobird, so I think I'm finally going to sell the Little Printer. We've been through a lot together, but it's time. If anyone wants to make an offer just let me know.

One caveat: the config page on the Berg Bridge stopped responding a while ago, so I don't think it's possible to change the IP address pointing to the Sirius server (unless you want to be brave and try to re-flash

[2018-02-12 06:04] msmabry commented on #8
@johndietrich, i would buy yours at a reasonable price as i've successfully been able to do a firmware flash on a couple of others. please contact me at msmabry at gmail to discuss.

i've procured a memobird as well, and i think it's quite nice, but i worry that their server will one day go away just as berg's did.

at least w/ the little printers, i now have hacked together a viable personal serv

[2018-04-03 11:53] dspalton commented on #26
Anything happening?

[2018-04-03 11:54] nickehsmith commented on #26
Would love to resurrect my little buddy.

On 3 April 2018 at 12:53, dspalton <notifications@github.com> wrote:

[2018-04-03 11:57] dspalton commented on #26
Yep the same here.

[2018-04-03 12:09] nickehsmith commented on #26
Even if it can be woken up just to be a thermal printer at this point would
be amazing

On 3 April 2018 at 12:57, dspalton <notifications@github.com> wrote:

[2018-04-03 12:10] dspalton commented on #26
My bridge doesn’t seam to be booking up to the Ethernet :(

[2018-04-03 12:11] johndietrich commented on #26
Well, there are instructions here to reflash the bridge software and set up your own server, so it's not difficult. Just requires a bit of effort and equipment (an Arduino and a laptop). You can run the server on a Raspberry Pi.

________________________________
From: nickehsmith <notifications@github.com>
Sent: Tuesday, April 3, 2018 8:09 AM
To: genmon/sirius
Cc: johndietrich; Comment
Subject: Re

[2018-04-03 12:15] dspalton commented on #26
Full disclosure, I’ve not looked into this for two years or so.
Trying to catch up now as have a practical use to try get it working.
Got a spare Pi so that would be cool.
Anyone have the full guide some where to install?

Appreciate the help

[2018-04-03 12:21] johndietrich commented on #26
First you'll need to root the bridge:

http://pipt.github.io/2013/04/15/rooting-berg-cloud-bridge.html

Then you'll need to flash the new firmware:

http://joerick.me/posts/2017/03/09/little-printer/

Then set up a Sirius server on an RPi:

https://github.com/beyondio/LittlePrinterPi/wiki

....and then point the Bridge to the IP address of your RPi server:

https://github.com/genmon/sirius/wiki/Up

[2018-04-03 12:47] benpawle commented on #26
Hi all,

Glad you're as keen as us to get your printers working. We're actually working on a platform for this as a side project in our [studio](http://nordprojects.co/). It's based on the Sirius backend by @genmon but with a few extra features. There will be an accompanying iOS app so you can message your printers with styled templates, as well as IFTTT integrations for other types of content you

[2018-04-03 12:52] johndietrich commented on #26
I'm in!

________________________________
From: BP <notifications@github.com>
Sent: Tuesday, April 3, 2018 8:47 AM
To: genmon/sirius
Cc: johndietrich; Comment
Subject: Re: [genmon/sirius] 💡 Software ideas to make Little Printer print again (#26)

Hi all,

Glad you're as keen as us to get your printers working. We're actually working on a platform for this as a side project in our studio<https://eu

[2018-04-03 12:53] nickehsmith commented on #26
Sounds amazing, also… would be more than happy to ship and pay for the
bridge to be flashed if anyone in the UK has the time/skillset to do it.

On 3 April 2018 at 13:52, johndietrich <notifications@github.com> wrote:

[2018-04-03 12:58] dspalton commented on #26
im in as well.
Not sure i can flash my bridge myself, bit lacking the skills to be honest' but based in the UK

Reason i want to get it going, basically going to be working away from home for 21days a month, so want it to send messages to the wife *soppy bugger that i am*

If you need any other testers or anything more than happy to help

[2018-04-03 12:58] bentimms commented on #26
Hi Ben,

Colour me interested!

Thanks,
Ben

On Tue, 3 Apr 2018 at 13:47 BP <notifications@github.com> wrote:

[2018-04-03 15:14] tom-hat commented on #26
Hi guys, Tom here I work with @benpawle and @joerick - we've just been speaking about flashing peoples bridges as a service and we reckon it's definitely something we could do. As Ben mentioned earlier we've got an iOS app which is almost ready to roll out. The dev version we are playing around with works a treat. There's a bit of tidying up to do and we're fairly busy with projects at the moment

[2018-04-03 15:16] dspalton commented on #26
Looking amazing
Definitely interested

[2018-04-03 15:52] oschrenk commented on #26
Good stuff!

I would also be interested in testing/using this.

Sent from my iPhone

[2018-04-03 16:35] nickehsmith commented on #26
Tom et al. That sounds amazing, I'd pay £55 just to stop the pang of guilt
I have every time I open the drawer of dead IOT purchases. Also more than
willing to send it in the post now to be flashed when you have time as
there's no point it just sitting here.

Forgive me being completely ignorant but once flashed will it essentially
be manageable by your app *and* also usable with an independently

[2018-04-18 12:27] cyndyphillips commented on #26
Also very interested @tom-hat . I make him origami hats, it's so sad. He needs purpose.

[2018-04-23 15:36] Dayvehillman commented on #8
Hello everyone,

I'm late to this game as I had all but given up on little printer, but every time I look at it in my box of "junk" it breaks my heart. Is there anyone on here who is still successfully using theirs? If so, how can I join you all? I don't know bugger all about computers or code so any simple help would be so amazing!

Cheers!

Dayve

[2018-04-23 15:41] benpawle commented on #8
@Dayvehillman we're working on a fix briefly mentioned down here https://github.com/genmon/sirius/issues/26

We're a few weeks away from going public as it's just a side project but we're loving getting our printers working again :)

[2018-04-23 15:45] stevekennedyuk commented on #26
I could pp down to Hackney Wick (quite often go to Here East or drinking at Crate/etc)

[2018-04-23 15:55] cubeghost commented on #26
I'm interested in trying, although I think I'll flash mine myself. Will the backend be open source? I'd love to build a web interface for it since I'm on Android.

[2018-04-23 15:59] Dayvehillman commented on #26
Hi guys, I live round the corner in Bow and would pay £55 happily to get LP running again! I work away an awful lot with work and my wife used to absolutely love her LP. It was such a nice way to stay in touch!

[2018-04-23 16:02] Dayvehillman commented on #8
@benpawle - This is amazing! I have just had a read and i'm super excited! I live round the corner so would love to pop in one day and drop a case of beer in for you guys! You've literally made my day!`

[2018-04-23 16:06] benpawle commented on #26
No worries! We'll keep you all posted. @cubeghost nice idea! Happy to share some UI files once we're ready.

[2018-04-23 17:27] vincent-bidaux commented on #26
@benpawle @tom-hat those are great news!

As @Dayvehillman, I'm willing to sponsor too.

[2018-04-28 14:07] johnfkent commented on #26
I've always wanted to get my LP printing again, but lack the experience (and equipment) for rooting the bridge. I'd also happily pay the £55 and p&p too. Count me in!

[2018-05-03 08:38] PieterDiepenmaat commented on #26
@tom-hat I am very much interested in getting my little friend up and running again with your service. At the same time I share @nickehsmith's concern.

[2018-07-27 17:22] hako commented on #8
Hey everyone, I am willing to buy another Little Printer off someone, if anyone is interested, email wesley@wesleyhill.co.uk

[2018-08-03 09:52] Dayvehillman commented on #8
@benpawle - Just wondered if you guys had managed to make progress on getting the little printers back in action? I'd still be super keen to bring mine down to you guys to have a look at!

[2018-08-14 15:58] rphlmm commented on #8
@benpawle Something new to share? :)

[2018-08-14 15:59] rphlmm commented on #26
@tom-hat any news?

[2018-08-25 12:51] harrilewis commented on #26
@tom-hat another interested person here!

Also nearby.

[2018-08-28 09:15] karlparton commented on #26
@tom-hat Ditto!

[2018-08-31 11:49] cyndyphillips commented on #26
@tom-hat same here. I was working with a app development company just for my own use but I'll sponsor development over here :)

[2018-09-14 13:47] tom-hat commented on #26
Hello guys!

Sorry all for the leave of absence! In the past few months @joerick and @michaelcolville have been perfecting the dithering and its now possible to send images using their new app. Which is pretty ace. Its been running flawlessly in the studio over the summer and they expect to roll it out on the App Store very soon. Or they mentioned something about sharing via TestFlight in the mean

[2018-09-14 14:48] cyndyphillips commented on #26
(fist pumping into the air) BEST NEWS ALL MONTH!! Thank you so much- I know what I'm doing this weekend!

[2018-09-14 14:50] nickehsmith commented on #26
Amazing. Thanks for all the hard work! Not all littleprinter heroes wear capes!
On 14 Sep 2018, 15:49 +0100, cyndyphillips <notifications@github.com>, wrote:

[2018-09-14 15:01] tom-hat commented on #26
Thanks @nickehsmith  ! One for the wall! 😉

![img_7437](https://user-images.githubusercontent.com/38042307/45558198-3cf1ed00-b837-11e8-8c60-86c946875f9e.jpeg)

[2018-09-14 16:50] tom-hat commented on #8
Hello everyone!

I share a studio with @benpawle and we've got an update re the little printer bridge over on this [thread  >>](https://github.com/genmon/sirius/issues/26#issuecomment-421363757) next door. We've published full instructions on how to flash your bridge so that it points to a new server. Alternatively I am offering to do this for £55 (exc return postage).. More info on the other thre

[2018-09-14 20:13] oschrenk commented on #26
Thanks for the hard work. http://littleprinter.nordprojects.co/ brought my printer back to life!

[2018-09-17 11:01] ptitb commented on #26
Thank you guys! My little printer is alive again!

[2018-09-20 04:06] cubeghost commented on #20
@genmon would love to know if you have any more of the original faces saved (besides `tests/normalface.png`

[2018-09-20 17:23] felippenardi commented on #20
Still would like to know how to use them...

[2018-09-20 17:33] cubeghost commented on #20
@felippenardi if you check my branch and look in `sirius/models/hardware.py#change_face`, you can see an example of sending `SetPersonality` or `SetPersonalityWithMessage` to the printer with `face_pixels` set to the image you want to set the face to

[2018-10-05 09:24] mguth commented on #26
Hi everyone!

I am super excited about what you did, @tom-hat, but sadly my bridge seems to have died since I last (successfully) used it a couple of years ago.

Long story short:

**Does anyone still happen to have a spare bridge lying around they would be willing to sell?** 🤓

I'd really love to bring my printer back to life.

[2018-10-10 08:28] tomdcpennington commented on #26
This is great! I don't have an iOS device though. I see in the instructions the app is Part 8, is it crucial to getting the little guy printing?
Thanks

[2018-10-15 12:55] olliez0r commented on #26
@tom-hat getting 404 on app store link :(

Also is there any likelihood of an Android app or comparable web functionality for non IOS devices?

Thanks,
Ollie

[2018-11-13 22:05] danhodkinson commented on #26
@tom-hat I was just looking to see if it was worth stillholding on to the little printer and then I find this! How much would the flash cost if I brought it down to Hackney Wick and treated you to a pint at the same time?

[2018-12-17 16:57] ghost commented on #26
Hello - wanted to say thank you so much for your hard work getting the little printer working once more.

I have just finished updating mine and have managed to send some new messages successfully.  Very happy ;)

I just wanted to know if the iOS app is still available?  Would love to give this a go but it does not appear to be available in the App Store anymore?

Thanks again for getting it to wo

[2018-12-18 00:18] joerick commented on #26
👍 thanks @jon11a! The iOS app is still working, it's just in beta, we've just been busy with other stuff recently. Drop me your email and I'll see if I can get you in the TestFlight!

[2018-12-18 12:29] ghost commented on #26
Excellent, I will send you a message with my email - would be great to test this out.  Thanks!

[2018-12-20 14:41] Dzinlife commented on #26
I just followed [this guide](http://pipt.github.io/2013/04/15/rooting-berg-cloud-bridge.html) to root my little printer, but after set the new password then reboot, I stucked here:

[code]
Is there anyone can help me about this issue?  thanks:)

[2019-01-09 19:06] anselmogz commented on #26
Hi all, I found my beloved Little Printer today and I'm looking to sell it. It's in the original box, I actually still have extra thermal paper rolls branded as Berg's. If anyone is interested in it, please let me know. Price is negotiable, make your best offer. I'm based in the US. Glad to read there's still a way to keep these alive.

[2019-01-24 11:16] javl commented on #26
Hey @anselmogz. Any way to contact you directly?

[2019-02-11 15:34] vincent-bidaux commented on #26
Hello Group.

This is with an immense sadness that I just wrapped back my complete LP in the original box and that I am about to sell it. I head some here are looking for an extra unit, so mine is functional, I believe, and Genmon at the time confirmed to me that my bridge was flashed.

I'm a bit bitter I have to admit. I tried everything, read all the documentations but I fell short of succeeding

[2019-03-08 21:12] mguth commented on #26
@joerick does that offer still stand? If so, I'd be delighted if you could add me to your tesflight list as well :-)  bacn@posteo.de

[2019-04-22 09:27] PieterDiepenmaat commented on #26
Hi all, we (ThingsCon) are organising an event about [Resurrecting IoT darlings - design for an extended product lifecycle" May the 16th in Rotterdam, the Netherlands](https://www.meetup.com/Thingscon-Salon/events/260433006/), which includes a workshop on bringing your Little Printer back to life!

In the afternoon of this ThingsCon Salon we do a hands-on workshop, where participants can bring the

[2019-04-23 15:47] cyndyphillips commented on #26
Hi,

I'm super interested in sending someone my little printer, having it reformatted and sent back. I'm based in Vermont and don't have a way to travel overseas for the events, workshops and assistance that's been offered here.

Anyone doing that? I'll pay nearly any reasonable amount. I miss this little guy.

[2019-05-11 15:06] djdunc commented on #26
Hi all, was excited to get my LP working again but am falling at first hurdle. I am connecting into bridge but cannot seem to break into the boot mode - seems to jump straight to RomBoot and Start AT91Bootstrap... then flows through to login. Any tips on when to press a key to interrupt or reasons why the "press a key" message might not be showing?

[2019-05-11 15:10] javl commented on #26
Hi @djdunc
Are you sure your tx cable is connected properly? We had the wrong cable connected, leading to LP never detecting any input. After connecting the right cable it detected the keystroke right away. To check you can press return at any time during boot and it should show a newline in the console if it is picking up your input.

[2019-05-11 15:14] djdunc commented on #26
Hi, thanks for quick tip, yes checked that. Confirmed i can input text
since I spent 5 mins trying to guess root passwords ;) feels weird that i
am not seeing the option to interrupt boot process...

On Sat, 11 May 2019 at 16:10, Jasper van Loenen <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-05-11 15:25] javl commented on #26
Sorry, I don't know what else could be wrong. On our device one of the first lines was 'hit a key if...' followed by the boot. Not sure why you're not seeing that line.

[2019-05-14 05:28] blinkrep commented on #26
Hi, Anyone know of little printers to hire or buy in London? Need 10 fully functioning units for a project. Copy messages to be printed. Also red paper to print on??

[2019-05-14 08:22] dspalton commented on #26
I’m in fleet and have two if you want to make me an offer?

----
David Spalton
e: david.spalton@me.com
t: 07595 022379

[2019-05-14 21:21] blinkrep commented on #26
Do you have paper too and if so how much @dsplaton?

[2019-05-14 21:26] blinkrep commented on #26
Also assume both printers are fully functioning?

[2019-05-14 21:31] dspalton commented on #26
They were both working till the site switched off
And I did have some white roll

Dave

----
David Spalton
e: david.spalton@me.com
t: 07595 022379

[2019-05-16 13:53] niemer05 commented on #26
I remember wanting one of these back in 2012, I still want one.... alas I cannot find one for sale anywhere :(

[2019-05-16 13:55] danhodkinson commented on #26
happy to sell mine. was fully working when everything went offline. unsure if i still have the box/spare rolls. i used to have

[2019-05-16 13:57] niemer05 commented on #26
@danhodkinson where are you located? I'm in the states

[2019-05-16 13:59] danhodkinson commented on #26
@niemer05 ah. i'm in London unfortunately!

[2019-05-16 14:00] anselmogz commented on #26
I also have one available with extra rolls, shipping from the US (New
York), in original box, very good condition.  Lmk if you’re interested.

On May 16, 2019 at 9:57:35 AM, niemer05 (notifications@github.com) wrote:

[2019-05-16 14:00] niemer05 commented on #26
@danhodkinson ahh, darn, would cost too much to ship back here lol

[2019-05-16 14:02] niemer05 commented on #26
@anselmogz do you have an email i can message you at?

[2019-05-16 14:41] anselmogz commented on #26
@niemer05 it’s anselmogz -at- gmail

[2019-05-16 17:08] dspalton commented on #26
Make me an offer ;)

----
David Spalton
e: david.spalton@me.com
t: 07595 022379

[2019-05-16 21:36] dspalton commented on #26
I’m in Farnborough

----
David Spalton
e: david.spalton@me.com
t: 07595 022379

[2019-05-17 10:58] joerick commented on #26
Hello everyone.

We’ve finally finished work on an app for Little Printer! We’ve written an overview on our website that points you in the right directions for flashing the bridge, claiming your printer and downloading the app.

Check it out! https://nordprojects.co/projects/littleprinters/

![](https://nordprojects.co/projects/littleprinters/img/lp-hero-desktop-v1.jpg)

We hope you like it, it’s

[2019-05-17 11:16] joerick commented on #8
Hello all! Just a quick note to say we've finally launched the app!

![Little Printers short 2019-05-17 12_14_57 pm](https://user-images.githubusercontent.com/1244307/57924624-7e8ed800-789d-11e9-8f05-c5fff29a6bc5.gif)

Check it out over in this thread: https://github.com/genmon/sirius/issues/26#issuecomment-493413600

[2019-05-17 13:31] javl commented on #26
@joerick
I've been following the Little Printer for some time now, and after helping Pieter revive some at Thingscon I really want to get one for myself. No luck with a local seller yet though, so in the meantime I might try to tap into the LP ecosystem with a random receipt printer ;) Thanks for open sourcing the whole thing!

**Edit**: if anyone in the Rotterdam area needs help updating their Li

[2019-05-18 01:33] awk0324 commented on #26
Jasper,
I'm in the Netherlands if you're still looking, I have a little printer laying around here, still in box, just without any paper.

o/
rad0

--
Connection closed by remote ghost.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, May 17, 2019 3:31 PM, Jasper van Loenen <notifications@github.com> wrote:

[2019-05-20 14:33] mptrs commented on #26
@awk0324 I’m interested. Let me know how we can make a deal.

[2019-05-20 14:38] mptrs commented on #26
@danhodkinson still want to sell? Let me know how we can make a deal.

[2019-05-24 21:03] jeremyfranklin commented on #26
Followed the steps and got the Little Printer up and running again.  It took a while and a couple attempts to get it up and running.  I never thought it would be back.  Thank you very much.

[2019-05-25 11:31] nickehsmith commented on #26
Ok, it's a bank holiday weekend, I'm home alone so its time to resurrect my little thermal buddy. I'm confident with linux/SSH, but fear tinkering with wires. I may have missed the relevant bit on the guide, but 'what' needs to be connected on the serial adapter to 'where' on the bridge?

If anyone who's successfully flashed their bridge could tell me I'd happily knock up an illustration for the '

[2019-05-25 11:53] PieterDiepenmaat commented on #26
Hi Nickeh,

Here are some photo’s of how to connect the wires and where to solder in the header (or wires if you don’t have it. With this setup we resurrected several Little Printers at https://www.meetup.com/Thingscon-Salon/events/261289331/

Hope this helps.

With kind regards,
Pieter Diepenmaat

Inventor of smart well-behaved products
+31-(0)642138494

Vijverhofstraat 47
3032 SB
Rotterdam

[2019-05-25 12:07] nickehsmith commented on #26
Fantastic, that's exactly the reassurance I was looking for.

I'd actually googled your username with "little printer" having read people
mention your help but couldn't find the relevant article.

Have a great weekend and thanks for reaching-out so quickly!

On Sat, 25 May 2019 at 12:53, Pieter Diepenmaat <notifications@github.com>
wrote:

[2019-05-25 12:11] joerick commented on #26
@nickehsmith your adaptor looks good. Also, there are a few pics on [my guide](http://joerick.me/posts/2017/03/09/little-printer/). It's a little confusing which direction the TXD and RXD go. I don't think you can cause any damage as long as you have a TTL-level adapter (which you do), but if you're worried, open a serial console and connect just the GND and try just the RXD - once you see some da

[2019-05-25 12:13] PieterDiepenmaat commented on #26
My instructions and reviews of resurrecting Little Printers, Pebble Smartwatches and soon more can be found here: https://medium.com/@__pieter__/resurrect-your-iot-darling-the-service-behind-your-favourite-smart-device-stopped-now-what-645315c18395

Have a good weekend too!

With kind regards,
Pieter Diepenmaat

Inventor of smart well-behaved products
+31-(0)642138494

Vijverhofstraat 47
3032 SB
R

[2019-05-25 12:15] nickehsmith commented on #26
Thank's so much for the additional help @joerick. I now have no excuse to not get it up and running.

Have a fantastic weekend!

[2019-05-25 13:24] jeremyfranklin commented on #26
Has anyone build any IFTTT recipes like weather or anything else?

[2019-05-25 13:33] johnfkent commented on #26
I've played around with IFTTT a bit, managed to build recipes to print out a shopping list using Alexa, print out a message when I get home and print out an alert when I upload a photo with a specific hashtag on Instagram. The iOS app is great, but have to borrow my daughter's iPod when she's not using it (or sending photos/photo messages/drawings herself).

[2019-05-25 20:28] gong0704 commented on #26
Played around with my little printer today. So happy this project come to light. Used made publication for Berg. Just got it to work. Thank you everyone for the hardwork.
Just FYI, I used DSD TECH USB to TTL Serial Adapter with FTDI FT232RL Chip. Make sure TXD on the pin connect to TX hole on the bridge. I can't solder them, this is how i come up with and it worked.
![IMG_5513](https://user-images

[2019-05-25 21:32] jausto commented on #26
Ive been trying with several TLL adapters. I get it connected to the computer and its able to see it. but all I get is:

And it doesn't get past that. When I boot up up with an ethernet connect it seems to be trying to work. So I don't think it's bricked. Can anyone give me pointers? How long does the boot process take?

[2019-05-25 21:49] gong0704 commented on #26
Were you able to reset the password of the root on on the bridge? Boot process didn't take very long for me. I would say if 5 minutes, it still doing that, restart and try from the first step, i guess. I didn't need to do a second time. Once you finished the rooting and upload new firmware reboot, in the instruction 5.5. The screen windows took longer to boot, but when it have a line saying " List

[2019-05-25 21:52] gong0704 commented on #26
Just tried IFFFT. With weather undergound as trigger and webhooks as action, you can create a daily weather print out very easily. However, I'm in eastern time US/Canada. The print out time is not right.
Can I change to the print out time?
![IMG_0237](https://user-images.githubusercontent.com/2364636/58374928-e2f10d80-7f15-11e9-8ec4-8626a8ef973b.jpg)

[2019-05-25 22:02] jausto commented on #26
Hey @gong0704 i'm not even there. i'm on "STEP 3: RE-SETTING ROOT PASSWORD 3.1 Plug in the power".  Basically nothing happens when i connect the power after "Start AT91Bootstrap..." How long do I wait for something else to come up? Is it **bricked**

[2019-05-25 22:20] gong0704 commented on #26
@jausto hmmm,  it went very quickly for me the first time that I missed the line: Hit any key to stop autoboot.
Then I reboot, during the booting, didn't wait, I just hit enter or some letter key, then it gave me the U-Boot prompt line.

I don't know, maybe it's bricked, but try reboot, disconnect usb and etc. I almost gave up because the pin were wrongly connected.

you should see the following p

[2019-05-25 22:35] jausto commented on #26
Yeah:
GND -> Bridge GND
TXD -> Bridge RX
RXD -> Bridge TX.

Nothing comes up. Maybe i'll try an other adapter. Do you recommend anyone? if not I'll just follow this post to see if anyone else has any problems or solutions Thank you for your help.

[2019-05-25 23:00] gong0704 commented on #26
@jausto Try
GND -> Bridge GND
TXD -> Bridge TX
RXD -> Bridge RX

Mine worked only like this. When RXD to Bridge TX, it just give me all the strange characters.

[2019-05-25 23:04] jausto commented on #26
Tried that at the end, no go. Can you link me to the exact USB to TTL adapter did you you use? Ill try with another adapter on more time.

[2019-05-25 23:06] gong0704 commented on #26
this is the one I used:
https://www.amazon.ca/gp/product/B07BBPX8B8

[2019-05-25 23:08] gong0704 commented on #26
see the picture i posted above, it has the pins connected to the bridge from the back. it's easier for me as I don't have the little stick and etc.

[2019-05-26 11:07] nickehsmith commented on #26
Thanks so much for everyones time and help that made this project possible. One more little printer resurrected! Very bizarre being able to get perfectly dictated messages from Google Assistant 👍

[2019-05-26 12:29] jeremyfranklin commented on #26
I don’t really understand the Webhooks for IFTTT. Can someone post an example with a couple steps?

[2019-05-26 12:37] gong0704 commented on #26
Here is the simplest example to print weather using plain text method. replace with your own device key. hope this would help
![IMG_4239](https://user-images.githubusercontent.com/2364636/58381920-63088900-7f91-11e9-8244-15c3839a82b3.jpg)

[2019-05-26 12:42] nickehsmith commented on #26
I'm not sure I'm doing it right, but its working ;) I set up a few basic ones before lunch (vanity twitter mentions, RSS for weather/tide times and google assistant to see what was possible). Included the GA example below. The only real step is setting URL to your device and post as the method. Curious about getting full HTML messages to print.

[its also really cool to hook it up to alexa for sho

[2019-05-26 15:52] nickehsmith commented on #26
Just in case it's useful (and to get the resource in this thread) I knocked up a diagram for the wire connection based on the same adapter @gong0704 referenced (this one worked for me too)

![diagram](https://user-images.githubusercontent.com/26182096/58384173-9d484980-7fd6-11e9-85a4-24b97a132422.png)

[2019-05-26 15:59] jausto commented on #26
Thanks, Its really weird that "official" instructions have TX and RX crossed. I hope i did not brick mine because of this.

[2019-05-26 16:01] nickehsmith commented on #26
I think the method changed between the arduino and TLL adaptor

[2019-05-26 16:48] jeremyfranklin commented on #26
For some reason I can't get any IFTTT apps to run, even simple ones.  Has anyone saved any to the community that we we can replace our device ID to test it out?  If so, can you post a link to your IFTTT.

[2019-05-26 16:49] javl commented on #26
Are you using POST webhooks? Not GET.

[2019-05-26 16:54] nickehsmith commented on #26
Alexa/Google seems to be working happily. My twitter recipe was fine this morning but now seems to be bugging out, likewise a simple mail recipe.

Alexa Shopping list print:
https://ifttt.com/applets/99917228d-what-did-i-drunk-order-on-alexa

Straight speech to print on Google Assistant
https://ifttt.com/applets/99913422d-speech-to-little-printer

Working as of just now.

[2019-05-26 16:56] jeremyfranklin commented on #26
I am using the post Webhook. Do I do anything specific for the content type or body?

[2019-05-26 16:58] nickehsmith commented on #26
IFTTT seems to be picking up the input, but getting this error in the log "Unable to make web request. Your server returned a 415" Not sure where the error lies but hope that helps someone more intelligent than me diagnose the issue.

**Update 1** Mail recipe (send to) and spotify recipe both just tested and working. Seems to currently be just twitter that is having a wobble. Will check in on the

[2019-05-26 20:27] joerick commented on #26
Yes, 415 means unrecognised content type, you can use text/plain, image/*, text/html or application/json which works well with IFTTT

[2019-05-26 20:40] gong0704 commented on #26
I tried the application/json content type on IFTTT, it does not work with html tags used in the example.  I made it work in text/html in Apple Shortcuts as it allow custom content type. But IFTTT can only accept text/plain or application/json. Can anyone post an example how to write a json body with embedded photo? Thanks

[2019-05-27 09:37] joerick commented on #26
Sure. JSON body with an image looks like this:

[code]

IMAGE_URL above can be a web-accessible URL, or a base64-encoded data URL, eg.

[code]

[2019-05-27 17:25] gong0704 commented on #26
Thanks joe. However, I tried on IFTTT like this:
![Screen Shot 2019-05-27 at 1 23 22 PM](https://user-images.githubusercontent.com/2364636/58432875-a131a580-8082-11e9-984e-fa7748945901.png)

It still give me a 400 error like this.
![Screen Shot 2019-05-27 at 1 24 23 PM](https://user-images.githubusercontent.com/2364636/58432913-c3c3be80-8082-11e9-8eca-ffa181526308.png)

Can you take a look and see

[2019-05-27 17:32] javl commented on #26
You seem to be using " inside of ". Use single quotes (') inside the string instead. So "<img src="something" />" becomes "<img src='something' />"

[2019-05-27 17:42] javl commented on #26
@gong0704
Email replies do not support Markdown so as a regular post:

This won't work because the two sets of `"` cancel each other out:
`{"html": "<img src="http://placekitten.com/200/300" />"}`

This will work because we use single quotes (`'`) inside the double quote part: :
`{"html": "<img src='http://placekitten.com/200/300' />"}`

This might also work, escaping the second layer of double qu

[2019-05-27 18:27] nickehsmith commented on #26
Ok, trying to set up a suite of weather images to send. Attempted to use:
`{"html": "<img src="https://two.agency/projects/_littlePrinter/rainTest.png\" />"}`

But IFTTT parsed it to
`{"html": "<img src="https://two.agency/projects/_littlePrinter/rainTest.png/">"}`

[2019-05-27 18:29] nickehsmith commented on #26
If there's a bulletproof way of sending something like
`https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBKHUZJ.img?h=416&w=624&m=6&q=60&u=t&o=f&l=f&x=1700&y=1854`
That would be awesome

Or feel free to use my mono test PNG
https://two.agency/projects/_littlePrinter/rainTest.png

Again this is a 'nice to have' just happy to have my printer firing off text weather and news

[2019-05-27 18:41] nickehsmith commented on #26
![t11](https://user-images.githubusercontent.com/26182096/58435242-7746a600-80b7-11e9-9a27-f8425c048a12.jpg)

[2019-05-27 19:13] pixelwiese commented on #14
Any news here? I got the firmware update by genmon and everything worked fine some years ago. Now i tried to bring my printer back to life (because new application & stuff). But now the Ethernet light won't turn on anymore. Did anybody had the same issues (and knows how to fix it)?

[2019-05-28 00:48] gong0704 commented on #26
@javl Thanks for the reply. I tried the suggestions.
this `{"html": "<img src='http://placekitten.com/200/300' />"}`, after save, IFTTT just automatically change it to` {"html": "<img src="http://placekitten.com/200/300">"}`.

this `{"html": "<img src=\"http://placekitten.com/200/300\" />"}`, after save, IFTTT just automatically change to `{"html": "<img src="/%22http://placekitten.com/200/300/%22

[2019-05-28 08:01] nickehsmith commented on #26
No luck here. Seems a bug with ifttt. Even tried using &apos; which got converted to “‘
On 28 May 2019, 01:48 +0100, gong0704 <notifications@github.com>, wrote:

[2019-05-28 09:37] javl commented on #26
Odd, we did get this to work on Pieter's printer. I've asked him to post a screenshot of his working ifttt settings to this thread.

[2019-05-28 14:29] djdunc commented on #26
@jausto did you get yours working? I am having the same issue...

On Sun, 26 May 2019 at 16:59, Jaime Fausto <notifications@github.com> wrote:

--
07799133540
http://iot.io

https://www.linkedin.com/in/duncanwilson/

[2019-05-28 16:51] javl commented on #26
Sorry, my mistake... I thought we got this to work but we used the regular `curl` command at the time.

    curl 'https://device.li/yourapikeyhere?from=htmlexample' -H 'content-type: text/html' -d "<img src='http://placekitten.com/200/300' />"

Using ifttt you can't seem to set the string the way it needs to be. If you select `text/plain` as the content type the printer will just print the html as

[2019-05-28 16:53] nickehsmith commented on #26
Thanks for the help Jasper, at least you've saved me another evening
tinkering :D

On Tue, 28 May 2019 at 17:51, Jasper van Loenen <notifications@github.com>
wrote:

[2019-05-28 17:34] jausto commented on #26
@djdunc I didn't. Going to try again next week. When I get female pin adapters.

[2019-05-29 10:20] javl commented on #26
@nickehsmith

I feel like there should be some way to get html working in ifttt, but so far I haven't been able to find a solution, so this is my simple workaround for using html with ifttt. My 'solution' is to have ifttt send the message as plaintext to my script, which converts it into json and forwards it to the little printer service.

The code is below and can be hosted on your own website/se

[2019-05-29 10:23] nickehsmith commented on #26
Thanks so much for taking the time to do this! Will look in when I get home from work.

[2019-05-30 02:48] gong0704 commented on #26
Thanks @javl will try it in the weekend.

I have been using Apple Shortcuts app to send some print out. It's quite easy to set up basic website printing and image on web(single).  However, I can't get to print out any image taken from the photo other than using the app which is really good. Anyone know if there is even a possiblity? I don't know what is the path of the image taken on a iOS, so whe

[2019-05-31 23:51] jeremyfranklin commented on #26
Any luck on getting IFTTT to work for IG, news, weather or anything?

[2019-06-02 18:12] gong0704 commented on #26
@jeremyfranklin weather printing has been working. use weather underground as trigger, then webhooks as action, you'll be able to pick the specific weather phases in the body section. I can only use text/plain as content-type, not the picture unless you use @javi php script.

[2019-06-02 22:23] mptrs commented on #26
How long does it take to boot into the root shell? Looks like mine just continues the normal boot after I changed to bootargs. It's stuck at loading kernel image ... OK
Any that can explain to me what's wrong?

Sorry if this is not the correct place to ask this question.

[code]

[2019-06-05 11:00] jamesroseuk commented on #26
Hiya, Did the flashing service get up and running? and would you give any sort of discount for multiple LPs? I have three! @benpawle and @joerick

[2019-06-05 14:25] mptrs opened #27 "Unable to root bridge"
Hi,

I'm sorry if this is not the right place for this issue, but it's the only place I know where LP owners are around.

The problem I have is that the bridge does not got by "Loading Kernel Image ... OK". After this message it just stops.

Is there anyone else that has this problem? And is it possible to flash a fresh Linux on there to make it boot?

Hope someone can help me out.

[2019-06-05 21:37] jasoncookdotcom commented on #26
Re: flashing, I'll just chime in to add that I (fairly non-technical person), successfully flashed my printer this week following the instructions [here](https://docs.google.com/document/d/1JT1f2ClVdAnjrnby92V9ONBnN05EFQGYpLG5ijl5KRI/edit?ts=5b93cb87):

For whoever (Nord Projects?) is maintaining that document, and wanting to make it as bulletproof as possible, a few suggestions:

- At step 1.2, I

[2019-06-05 22:00] nickehsmith commented on #26
@jasoncookdotcom adding an additional observation... not sure if this was just me being super cautious but when I did mine I also noticed a time out error on reboot pre-logging-in when I attempted to flash the bridge (presumably when it was trying to connect to an old berg server). The first time it happened I thought I’d bricked it but by the time it happened on the 2nd/3rd boot i learnt to just

[2019-06-05 22:41] gong0704 commented on #26
For me, I was frustrated when I connect RX to TX and just got random characters for a afternoon and a morning. then reconnected RX to RX and TX to TX, it all worked through so quickly, i didn't remember anything error, adrenaline, lol.  Good advice for the manual though.

[2019-06-06 10:29] joerick commented on #26
Thanks for the feedback @jasoncookdotcom, I've updated the Google doc.

@jamesroseuk We don't do flashing ourselves, that's @tom-hat. I'm not sure if he's still doing it, but your best bet would be to ping an email to tom_hatton@outlook(dot)com to find out.

[2019-06-06 10:32] jamesroseuk commented on #26
Thanks @joerick have emailed :D

[2019-06-09 11:34] nickehsmith commented on #26
Hey there @javl can I apologise in advance for my stupidity, but if you have a second would be fantastic if you could help diagnose what I'm doing wrong with your kindly donated script. Two issues, one is giving me a headache the other is probably something I'm doing wrong.

1. Following your instructions and using your hosted script (which still seems to be up) I'm not having any luck getting you

[2019-06-09 20:09] javl commented on #26
@nickehsmith
Seems I might have messed up with the example code using api**K**ey but the actual script using api**k**ey. Could you try again with apikey (all lowercase)?
(I've updated my original post to use lowercase as well)

[2019-06-10 07:47] nickehsmith commented on #26
@javl PERFECT! All now working using your hosted version. Thanks for the spot!

Any idea why my self hosted script isn't working? Tried it on two different servers using the code in the attached file?

[script.txt](https://github.com/genmon/sirius/files/3271054/script.txt)

[2019-06-10 07:52] javl commented on #26
Maybe you're running a different version of PHP and one of the lines is causing an error; often the default is to not show errors, which could explain the empty page.

You could try to start with an empty file and add the lines of my script one by one, with something like ```echo "done"; ``` at the end. That way you should be able to spot when the "done" text disappears to figure out which line ca

[2019-06-10 07:55] nickehsmith commented on #26
Great first-call, tested on an account with PHP 7.1 and all is well! Thanks again for your patience.

[2019-06-10 12:46] nickehsmith commented on #26
SUCCESS
![Image](https://user-images.githubusercontent.com/26182096/59196213-fe028500-8b85-11e9-849c-2aef8c2ace5c.jpeg)

If it helps anyone I'm going to try and make a bunch of weather trigger visuals to use with @javl's code.  I'll share as a figma doc.

[2019-06-10 13:20] cicapoo commented on #26
Not working. Trying:
Type screen /yourdevicepath 115200 8N1
(substituting in the correct device path for your computer):
E.g. screen /dev/cu.SLAB_USBtoUART 115200 8N1
But result after plug in power:
![Uploading IMG_6140.JPG…]()

Who can help me what to do?

[2019-06-10 14:05] javl commented on #26
@cicapoo something went wrong with your image upload, can you update your post?

[2019-06-10 15:00] cicapoo commented on #26
![IMG_6140](https://user-images.githubusercontent.com/42145857/59204528-79296280-8ba9-11e9-9118-c6675b91eb8b.JPG)

[2019-06-10 15:07] javl commented on #26
@cicapoo See how the top of your terminal window (which shows the running command) says "...9600 8N1"? This means you're running at a baudrate of 9600 instead of 115200 which the bridge is using.
Are you sure you ran ```screen /dev/cu.SLAB_USBtoUART 115200 8N1```? Maybe you left out the baudrate and ```screen``` is using its default instead.

[2019-06-10 17:10] nickehsmith commented on #26
As an FYI for anyone using @javl's amazing PHP script to parse HTML/images… SVGs render really well and webhook ingredients can be easily included in the HTML.

Now to recreate these little finds http://www.irvinebrown.com/?p=808

![IMG_4123](https://user-images.githubusercontent.com/26182096/59215160-6c5c3d00-8bb0-11e9-948b-30ffd3c087af.JPG)

P.S. Apologies for grim keyboard grime

P.P.S. If anyo

[2019-06-10 18:43] cicapoo commented on #26
Yes! U sure right& But now this:
NAND:  256 MiB
In:    serial
Out:   serial
Err:   serial
Net:   macb0
macb0: Starting autonegotiation...
macb0: Autonegotiation timed out (status=0x7849)
macb0: link down (status: 0x7849)
Hit any key to stop autoboot:  0
U-Boot> editenv bootargs
edit: console=ttyS0,115200 root=/dev/mtdblock6 mtdparts=atmel_nand:128k(bootstrap)ro,256k(uboot)ro,128k(env1),128k(env2),

[2019-06-10 19:03] javl commented on #26
@cicapoo Make sure you follow the instructions, seems you skipped 3.5 (the ```boot``` command)

[2019-06-11 09:29] jamesroseuk commented on #26
Hi all,

Sorry to ask a rather simple question compared to all the exciting stuff above, but... can the flashing instructions be done through Terminal on a mac?

I'm going to buy the USB - Serial adaptor and just want to check I'm not going to fall at the first hurdle on the sweet sweet track to getting my LP back up and alive :)

James

[2019-06-11 09:32] javl commented on #26
@jamesroseuk We used Terminal for all of the printers we revived. It comes with the ```screen``` and ```ssh``` commands built-in, so you should be good to go.

[2019-06-12 18:03] cicapoo commented on #26
Cant connect correctly. Shows my printer is offline
![IMG_6175](https://user-images.githubusercontent.com/42145857/59374855-7c615180-8d55-11e9-8255-db248cfb9255.PNG)

[2019-06-12 18:19] cicapoo commented on #26
And  I dont know what to do
![Снимок экрана 2018-10-15 в 11 38 18](https://user-images.githubusercontent.com/42145857/59375880-bc293880-8d57-11e9-80ca-2fddb9f55f88.png)

[2019-06-20 19:11] cicapoo commented on #26
Guys, where urs app in AppStore? Can u give link?

[2019-06-21 09:02] jamesroseuk commented on #26
Hi cicapoo,

Check out here:

https://nordprojects.co/projects/littleprinters/

and then

https://itunes.apple.com/us/app/little-printers/id1393105914?ls=1&mt=8

Note that the app is only on iOS and might or might not be available in every region I guess.

James

PS Thanks everyone, I got my LP up and running, its back and brilliant as ever :) Specially with the great Hey Google Little Print... co

[2019-06-21 12:16] andrewn commented on #26
I've also been working on a [web port](https://littleprinters.ink/) of the iOS app that should work in [your favourite web browser and platform](https://mobile.twitter.com/__pieter__/status/1140890748046520321).

At the moment it only supports the _Poster Font_ message style 😢 . I'd like to add the others soon, time permitting. The [code's over here](https://github.com/andrewn/littleprinters-web/)

[2019-06-21 12:19] nickehsmith commented on #26
Thanks so much Andrew! Really appreciate the effort of the whole community
to bring this great device back to life

On Fri, 21 Jun 2019 at 13:16, Andrew Nicolaou <notifications@github.com>
wrote:

[2019-06-24 15:25] cicapoo commented on #26
Hello!
Can u create some instructions for IFTT (with screens or ph)?
Need options like Weather in my locations or another....
A lot of thanks!

[2019-06-24 15:31] nickehsmith commented on #26
Weather reports are all tied to 'Weather Underground' on IFTTT, I can
screen grab a few recipes if that would help?

On Mon, 24 Jun 2019 at 16:25, cicapoo <notifications@github.com> wrote:

[2019-06-24 15:36] cicapoo commented on #26
Im dont understand how add printer to IFTTT :(

[2019-06-24 15:39] jeremyfranklin commented on #26
Screen shots would be helpful.

[2019-06-24 15:57] nickehsmith commented on #26
Generic weather template for IFTTT here, make sure to add 'webhooks' as a service. If you want to do something a bit prettier you'll need @javl's JSON script. Confirmed working for Weather Underground's rain and forecast triggers.

![ifttt_weather](https://user-images.githubusercontent.com/26182096/60033753-12c03c00-96a1-11e9-8928-10e97a7cc942.png)

[2019-06-24 16:21] cicapoo commented on #26
Thanks! U awesome!

About @javl – im dont understand about redirect api and other
Im like oldman. I need images and instructions

[2019-06-24 16:30] nickehsmith commented on #26
@javl will be best placed to answer your questions fully but to help (because he helped me out so much) you’ll need to have a host/server to host the script he posted and familiarity with PHP/JSON if you want to edit it.

If anyone has unlimited bandwidth then it might be good to host that redirect script.

On 24 Jun 2019, 17:21 +0100, cicapoo <notifications@github.com>, wrote:

[2019-07-06 12:40] micaepec opened #28 "little printer bridge failing to pair with the server"
hello, I flashed the server following the procedure here https://docs.google.com/document/d/1JT1f2ClVdAnjrnby92V9ONBnN05EFQGYpLG5ijl5KRI/edit
and everithing went well up to the step 6.4.
currently it seems impossible to change the url .
the bridge reports the following message: "Please note that any path you provide will be ignored, as the bridge is hard-coded to connect to /api/v1/connection."
in

[2019-07-08 06:14] cosmosisnotes commented on #8
@johndietrich Are you still open to selling your Little Printer? Also, seems unlikely on this thread, but would anyone else be interested in selling their Little Printer?

[2019-07-08 06:16] cosmosisnotes commented on #26
Hello, Is anyone on this thread interested in selling their Little Printer?

[2019-07-09 02:51] y-nk commented on #8
Considering there's an "open" client, how many people would be interested in launching blueprints/basic opensource project for a replica of the mini printer?

[2019-07-11 13:10] anselmogz commented on #26
Hi, I have one I can sell. I'm based in the US. Let me know if interested.

Thanks.

El lun., 8 de julio de 2019 1:16 a. m., cosmosisnotes <
notifications@github.com> escribió:

[2019-07-11 13:36] danhodkinson commented on #26
same. based in the UK

[2019-07-15 04:56] cosmosisnotes commented on #26
Thanks for the reply. Yes I'm interested, I'm US based as well so that would be best @anselmogz can you email hello at flatswagon dot com to continue the discussion?

[2019-07-15 04:58] cosmosisnotes commented on #26
@danhodkinson would you email as well? Not sure it's possible to be more economical overseas, but worth the dialogue.

[2019-08-12 11:18] oljarast commented on #26
Also looking to buy a Little printer if anyone has one to sell, am in UK. Thanks very much.

[2019-08-12 11:25] danhodkinson commented on #26
how much are you looking to pay for one?

[2019-08-12 13:01] oljarast commented on #26
I see wildly differing sold prices on ebay so am mindful that my expectations might be unrealistic - does £30-£50 sound reasonable? Please say either way so I have an idea as have asked elsewhere.

[2019-08-12 13:04] danhodkinson commented on #26
@oljarast i'd be happy to say £40?
I will check everything this evening. Fairly certain i no longer have the box anymore and i'll check if i have any spare thermal roles.

Let me know how that sounds

[2019-08-12 14:17] dspalton commented on #26
I’ve got two
Willing to sell one of them

How much?

Dave

----
David Spalton
e: david.spalton@me.com
t: 07595 022379

[2019-08-12 14:32] dspalton commented on #26
Call it £60 plus postage?

Message me David.spalton@me.com

Dave

----
David Spalton
e: david.spalton@me.com
t: 07595 022379

[2019-08-12 16:24] oljarast commented on #26
@danhodkinson sounds good to me - I'll wait for you to confirm all in working order and regarding rolls

@dspalton thanks very much, I'll be sure to get in touch if my first option doesn't work out

<details>
  <summary></summary>

my email ord1c08 at gmail dot com

</details>

[2019-08-12 16:29] Dayvehillman commented on #26
Hi all, 
Sorry to jump in. I actually have a little printer I would love to revive. Is there anyone in London who I could come to for help in doing this? It's way beyond my ability
Thanks, 
Dayve
    On Monday, 12 August 2019, 17:24:41 BST, Olja Rastic-Dulborough <notifications@github.com> wrote:

@danhodkinson sounds good to me - I'll wait for you to confirm all in working order and regarding rol

[2019-08-23 14:08] aaroncornish commented on #26
For some reason while trying to flash my Bridge, I get very sporadic results.

I have only managed to get Uboot to load once, and on most boots, the Berg software doesn't boot either.

Very strange. I am on OS X on a Macbook Pro

[2019-08-23 14:08] aaroncornish commented on #26
Hi Everyone

Thanks so much for your working bringing the printers back to life

I am trying to flash my bridge at the moment. I can get the bridge software to load. When I try and press any key to stop the autoboot, everything seems to stop. I never get the Uboot menu to load.

I am using a mac. Any ideas would be appreciated
<img width="448" alt="Screen Shot 2019-08-23 at 14 49 15" src="https://

[2019-08-25 19:24] pablonoel commented on #14
Sadly, mine just died too, same thing, I was using it quite a lote lately with the ios app Nord made, but now it just wont light any other light than the power one, I'll try to test the hardware, but its probably the flash unit. I would love to buy a bridge if anyone is interested on sell one.

[2019-09-11 22:25] pablonoel commented on #14
Yeah, I just connected got the USB adaptor and the message its basically the same

[code]

So, I'll try to reflash it, I'll post some updates.

[2019-09-18 02:36] pyccap commented on #26
Hello everyone.
I can't update my bridge's firmware. After editing 'bootargs', nothing happens when I issue boot command. And strangely, when I turn it back on, I always get the U-Boot prompt without hitting any key. It seems that U-Boot does not start the OS. Please let me know if there is any solution.

[2019-09-21 17:25] notjosh commented on #26
Hi folks!

I'm finally scratching an itch here - I never had a LP, but I've been implementing the LP protocol to work with _any_ thermal printer. In theory, it could be used to replace just the bridge (running on a pi zero, for example), and work with existing LPs to save folks rooting theirs. (Repo is at https://github.com/notjosh/sirius-client, but thar-be-dragons right now.)

I've been adding f

[2019-09-24 01:06] javl commented on #26
As I sadly don't have a LP myself either, trying to update the client to work with other devices is exactly what I wanted to do. Looked into it for a bit but seemed too much work to reverse engineering at the time ;) I get the feeling the backend of the whole LP system is too complex for current standards (though it made sense for the available tech at the time).

I can see how an extendable versi

[2019-10-02 17:54] royletron commented on #26
Hey all. I have spent a few hours today trying to get my bridge flashed and back alive. I am actually hitting a snap pretty much as soon as I get into it through tty:

[code]

I am assuming after a while the flash memory on this thing has become corrupt or whatever. Is it hopeless or do I stand a chance of getting it running again?

Please halp, I will buy you beer and/or cheese!

[2019-10-02 19:59] royletron commented on #14
Hey everyone. I am also seeing the same with the Kernel being corrupt:

[code]

So I have two questions:
1) can we reflash the corrupt images?
I did wonder whether it was possible to contact 'telegesis' who see to have developed the SoC originally and ask whether we can reflash... Am I sniffing in the right direction?
2) Are we not at a point where we can bypass the bridge altogether? If I read ar

[2019-10-02 22:06] pablonoel commented on #14
I been trying to use the bridge as it is, but Ive got random responses, sometimes it loads the uboot and sometimes it doesn't.

So, I opened the actual printer and found out the thermal printer is a generic APS ELM205-HS mechanism, so I'm planing to connect it to a raspberry zero and go from there.

As to bypass the bridge, I would love to see that happens, I'll try to connect a TTL to the printer

[2019-10-06 16:13] jeremyfranklin commented on #26
I flashed my bridge a couple months ago and it worked fine until recently. Now the red light is on and stays on. I unplugged the bridge and little printer multiple times, but it still doesn’t work. Has anyone had this problem and have a solution?

[2019-10-07 05:23] oschrenk commented on #26
I have the same issue for about week (?). Just a red light on the printer and the bridge has a blinking downstream light - twice in quick succession with all other lights permanent.

Printer was connected to http://littleprinter.nordprojects.co

[2019-10-07 07:50] joerick commented on #26
Hm, I'm not having any trouble over here. Rebooting the bridge doesn't fix it?

Sent from my phone

[2019-10-07 14:40] javl commented on #26
Seeing as I don't even own a LP myself, I'm disabling my notifications for this issue. Feel free to contact me directly about the workaround script I made if needed.

[2019-10-07 20:40] dickverbunt commented on #26
Spend the night trying to revive my LP. Very exiting and getting closer and closer.

- The bridge is flashed correctly.
- Bridge configurations shows http://littleprinter.nordprojects.co:80/ and says it's connected.
- All lights are turned on except Zigbee flashes.
- I've reset the LP and printed the claim code.
- Filled in the claimcode on http://littleprinter.nordprojects.co/ and shows it's onli

[2019-10-07 21:19] notjosh commented on #26
👋 Hi folks! Since this (probably? hopefully?) only impacts the Nord fork, I've created an issue over at: https://github.com/nordprojects/sirius/issues/9 - if folks can jump in over there, we can get it resolved.

(Background: we migrated the code to Python 3 and deployed it...suspiciously...about a week ago ;) Seems like an encoding issue, dependent on the content it's sending? Shouldn't be a toug

[2019-10-26 13:24] hajekj commented on #26
Hi, I am having a slightly different issue - the printer shows online (I flashed the bridge, connected it, can reach it via SSH etc.) but the printer doesn't print a thing (except for the pairing code) and the light is slowly flashing on the printer... Any ideas what could be the issue?

[2019-12-04 21:46] mysunshineaway commented on #26
@tom-hat
I dug up my old Berg printer from my basement! Super excited to get this baby back up and working again. Read through the instructions......and......no. Don't have a clue. But the instructions also pointed to you @tom-hat. Do you still offer this service to for the Little Printer???

[2019-12-10 16:15] ghost commented on #26
Sorry to be one of those posters but... I am UK based and selling my LP!

If you're interested just search on ebay, it's the only one at the moment. 50% of the sale goes to charity :) It's never been used and is still in its original box.

[2019-12-10 16:20] notjosh commented on #26
^ooo, hi @LPResurrected! I've been waiting for one to pop up, so I can faithfully reproduce the functionality on generic printers (see upthread for a little detail). Happy to "buy it now" at whatever the going rate is. Can you ping me via email (see my profile), and we can sort it out?

[2019-12-10 16:46] Dayvehillman commented on #26
Hi guys,
I missed the boat last time, but I have a little printer I would love to get working again. I'm London based and would be happy to pay someone who knows what they are doing to get it back online. Let me know if that person is you! Thanks in advance! LONG LIVE LITTLE PRINTER

[2019-12-17 22:00] marcellhegedus commented on #26
Hi,
I have successfully enabled ssh and updated my LP two years ago but I did not find any working server to connect to, so I put it away. Then I read the [article on The Verge](https://www.theverge.com/2019/5/19/18628287/little-printer-berg-nord-projects-app-open-source-messaging) and got excited. However when I turn on the bridge only the power led lights up. Connecting via serial I can see that

[2019-12-18 09:29] aaroncornish commented on #26
I get that error. Basically to get round it, I had to keep hard rebooting the bridge and then eventually it would post properly.

From: marcellhegedus <notifications@github.com>
Reply-To: genmon/sirius <reply@reply.github.com>
Date: Tuesday, 17 December 2019 at 22:00
To: genmon/sirius <sirius@noreply.github.com>
Cc: "Cornish, Aaron" <aaron.cornish@bauermedia.co.uk>, Comment <comment@noreply.github

[2019-12-18 09:36] notjosh commented on #26
If I had a bridge+printer as a reference, I'd be all for creating a drop-in replacement! The Python source for the bridge was pulled off the bridge even, so it shouldn't be _too_ difficult.

Any volunteers? :) (Happy to pay for keeps, or return when I'm done*, etc etc) (*bricking is a real possibility here, mind)

[2020-02-24 14:53] janoroh commented on #26
Hi guys,

Great job on the app! :) I finally dug out my Little Printer again and would like to try the reprogramming on the bridge. The terminal command stuff won't be any problem, but I'm too noob to get the thing hooked up in the first place. I bought the USB/serial converter that the instruction guide links to (the one with the wires, i.e. https://www.amazon.co.uk/DSD-TECH-Converter-Compatible-

[2020-02-26 18:45] janoroh commented on #26
I'd like to offer some additions to the rough instruction guide for Windows users since it seems to be based on Mac or Linux and is somewhat complicated to follow on Win (I needed to Google a lot to find out the right things I needed to do :D).

First of all (this is independent from Windows), the USB/serial converter with included wires that the guide links to (https://www.amazon.co.uk/DSD-TECH-C

[2020-02-27 23:06] willcheyney commented on #26
Anyone able to help me? I've got to step 5. When I run the command
`scp usr/bin/oneshot_bergcloud_bridge.sh root@192.168.2.16:/usr/bin/oneshot_bergcloud_bridge.sh`
I get the response of
`scp: /usr/bin/oneshot_bergcloud_bridge.sh: Read-only file system`

[2020-02-27 23:32] janoroh commented on #26
Go back into (or open another) serial terminal and type "mount -o remount,rw /" again after logging in, this will fix this.

[2020-04-13 17:58] cvarrasi commented on #14
@royletron were you able to solve this at all? I have the exact same issue with ERROR: can't get kernel image!

[2020-04-19 14:01] sarahkadar commented on #26
Hi! I'm working on a conference talk about the Little Printer, and about a project (https://github.com/notjosh/sirius-client and https://github.com/ktamas/python-paperang) that lets you connect other thermal printers to the Little Printer network. I'll post about it when the talk is out and all that, and I'm also putting together a website with all the Infos.

However, if someone here has a Little

[2020-04-19 15:04] danhodkinson commented on #26
how much are you looking to pay. May consider selling mine

[2020-04-20 09:09] sarahkadar commented on #26
@danhodkinson The going rate based on ebay auctions in the last year or so is 100 GBP, so I'd like to offer that + pay for the shipping costs to Hungary (preferably not royal mail, but UPS/DHL/TNT/etc.)

[2020-04-20 09:46] danhodkinson commented on #26
Ok, let me dig out the printer to ensure i still have everything and i'll get back to you

[2020-04-20 09:50] sarahkadar commented on #26
@danhodkinson awesome, thank you!!

[2020-04-20 09:53] notjosh commented on #26
(I'm still also on the hunt, if anyone else on the thread wants to sell theirs!)

[2020-04-20 10:06] Dayvehillman commented on #26
Is anyone still offering the “get it up and running” service? I have a little printer I’d like to get back to it’s prime!

Sent from my iPhone

[2020-04-20 10:08] cicapoo commented on #26
Hello everyone!
I can sell. I am in Russia

[2020-04-20 10:20] notjosh commented on #26
@cicapoo want to email me, and we can work it out? (my email is in my profile)

[2020-04-20 10:24] cicapoo commented on #26
bro, edissonin@gmail.com

[2020-04-21 14:05] sarahkadar commented on #26
@danhodkinson did you manage to find everything?

[2020-04-25 06:27] cosmosisnotes commented on #26
Can anyone help me stateside with getting this bridge flashed and the new
app working? I have a huge project idea I want to use this printer for, but
I'm inept at getting this tech up and going. I have a printer and I'm
located in AZ. How could this work?

Best,

Rodney

On Tue, Apr 21, 2020 at 7:05 AM Tamás Kádár <notifications@github.com>
wrote:

[2020-04-25 18:52] Catindra2 commented on #26
Hi! I just got my LP to work! Woop! :) I have an old page I coded, which sent a simple POST FORM to http://remote.bergcloud.com/playground/direct_print/[code] - how do I make that work again? :) I'm guessing I need to replace the URL with something else now. And yes I'm aware it's a noob-question ;)

[2020-04-26 06:19] cosmosisnotes commented on #26
Also interested in an arrangement like this.

Sent from my iPhone

[2020-04-26 10:20] sarahkadar commented on #26
@Catindra2 the new server is https://littleprinter.nordprojects.co/

I'm putting up all the infos to https://tinyprinter.club/ which is primarily aimed at people who don't ahve a real little printer but you still might find useful information there.

[2020-04-26 10:42] Catindra2 commented on #26
Ah thank you for the info! So I can just replace the POST link with http://littleprinter.nordprojects.co/playground/direct_print/[code]

?

And the code would be one of the created codes?

[2020-04-26 11:18] sarahkadar commented on #26
@Catindra2 The new server is running https://github.com/nordprojects/sirius which is a reimplementation of the protocol. It does not have the same endpoints as the old server.

You have to hack your printer to point to the new server (see further up this thread) and then you can use the new API.

More infos: https://nordprojects.co/projects/littleprinters/

[2020-04-26 14:42] Catindra2 commented on #26
Thank you @KTamas :)

Now I get "unsupported media type" when posting, why would that be, you think? :)

I have flashed and done everything, and the printer is up and running - I'm just having a hard time making my old OLD HTML-page work, hehe.

Is there a community/chat where all LP-users can chat/talk, send each other messages and such? :)

[2020-04-26 16:23] sarahkadar commented on #26
@Catindra2 i obviously don't know your code so i have no idea...

[2020-04-26 18:42] Catindra2 commented on #26
@cubeghost - Did you build a webinterface other than the https://littleprinters.netlify.app/ (where you can do more)? :)

[2020-04-26 18:43] Catindra2 commented on #26
@KTamas - Of course, sorry for being such a noob :) I solved it, thanks anyway - for your incredible patience!

[2020-04-29 18:23] Pogopooc commented on #26
Let me know if you have a solution

[2020-04-29 18:37] Catindra2 commented on #26
@Pogopooc I realized it's easy: just replace the old link with the new code-link ;p there's a bit different with what you can send but still. What have you built?

[2020-04-29 18:49] Pogopooc commented on #26
Ok, i have no idea how to do that. I got LittlePrinter to work yesterday. And now i try to play with the API. Until now i buildet a sudoku generator. But its based on a apple siri chortcut.

Now i would like to build an shortcut with the old thinks like "Monster of the Week”.

Are there tutorials to get the old stuff to work again?

[2020-04-29 19:27] Catindra2 commented on #26
@Pogopooc No tutorials, but I've mostly played around with ifttt - as some has shown above :) it might help you.

[2020-04-30 09:07] Pogopooc commented on #26
Can you send me an Example of this CodeLink? Thanks

[2020-04-30 09:21] Catindra2 commented on #26
@Pogopooc It's the ones you create at https://littleprinter.nordprojects.co/ :) they look like: https://device.li/7ojo2ufodwjaoqtcoeu6

[2020-04-30 09:26] Pogopooc commented on #26
ok, so its possible to POST Data to this URL via the API. But ther e is no way to get the old „Store“ back, where you can manage the delivery-times of your Content. Or something like a store where you can subscribe to other people's editions. Right?
Am 30. Apr. 2020, 11:21 +0200 schrieb Catindra2 <notifications@github.com>:

[2020-04-30 09:44] Catindra2 commented on #26
@Pogopooc No :( but I've started an ifttt where I post an RSS (from Tumblr) to the printer, so that I can get my daily sudoku ;) you need to get creative :D

[2020-04-30 10:13] tomdcpennington commented on #26
Can I just double check before embarking on this that Step 8 - The iOS app, isn't required to generate the codelinks to the printer? Once Step 7 is complete and the printer is registered at littleprinter.nordprojects does that then generate a url that can be used with IFTTT?

I don't own any iOS devices so if Step 8 is required there's no point starting this. But if I can go up to Step 7 and get I

[2020-04-30 10:18] sarahkadar commented on #26
@tomassp once it's registered you get a `device.li` address which you can use for the API and thus with IFTTT.

[2020-04-30 10:36] tomdcpennington commented on #26
@KTamas That's awesome! I'll start the process off many thanks

[2020-04-30 12:50] Pogopooc commented on #26
strange... for me only plain text works. But the HTML via JSON always ends with an "Your server returned a 400" Error. Any ideas?
![Bildschirmfoto 2020-04-30 um 14 48 57](https://user-images.githubusercontent.com/8436174/80712188-e01d7600-8af1-11ea-9114-68a1593c3c81.png)

[2020-04-30 13:19] Catindra2 commented on #26
@Pogopooc Read earlier threads about posting to a php-page, for a simple fix :)

[2020-04-30 14:09] Catindra commented on #26
So I've made a few small n00b-things to revive the feeling of my Little Printer again. I'm using my own hosted php-page based on the one @javl posted above - and I send things there with "Webhooks" in IFTTT.

My example for a daily Sudoku/Puzzle involves finding a RSS feed on Tumblr and sending that to the PHP page like this:

![2020-04-30 P](https://user-images.githubusercontent.com/2777516/80719

[2020-04-30 14:42] Pogopooc commented on #26
Ahhh thanks a lot @Catindra i got it to work via the server from @javl .

The only thing that does not work at the moment are the  "ingredients" field from IFTTT.

But with your help i got a big Step forward.

I try now to do "reverse engineer" the "Monster of the week" Thing.

![Monsters](https://user-images.githubusercontent.com/8436174/80723930-84f37f80-8b01-11ea-940e-81854425b1be.jpg)

[2020-04-30 14:48] Catindra commented on #26
@Pogopooc Lovely! Fun! Tell me if you make it available to subscribe to (rss or something) :)

[2020-04-30 14:52] Pogopooc commented on #26
Hmm... I like the idea to make it public with a simple RSS. I'm thinking about preparing a few issues.

[2020-04-30 16:46] Pogopooc commented on #26
😱  You're all that smart! I can't figure out how to install the javl-php script on my own server.

I simply uploaded the "littleprinter.php" via FTP into the main directory of my website and set all access rights to "rwx". But no way...  "Your server returned a 404" 🚫

But that would probably have been too easy... Any Ideas? Thanks 🙏

[2020-05-01 08:56] Pogopooc commented on #26
Got it! The Problem was the wordpress. It blocks as far as i learned all PHP scripts. So i created a subdomain and now it works. 👍

BTW: Is it also possible to connect the "BERG Cloud - Dev Shield"  to the "SIRIUS" Server? ⚙️
![IMG_3101](https://user-images.githubusercontent.com/8436174/80794478-4e1d7800-8b9a-11ea-8504-062c65816d6b.jpeg)

[2020-05-01 09:03] Catindra2 commented on #26
@Pogopooc Lovely, well done!

[2020-05-01 09:55] sarahkadar commented on #26
@Pogopooc i have zero experience with the dev shield but i don't see why it wouldn't work, if you do get it to work, let us know!

[2020-05-02 08:48] Pogopooc commented on #26
I'm playing around with some old ioriginal issues from BergCloud. Look at this one from July 27 2013...

I did a [Apple Shortcut](https://apps.apple.com/de/app/shortcuts/id915249334?l=en) for this one:

When i Stop the AlarmClock ⏰ on my iPhone:
1. Check the current Value from BTC 💵
2. Send the Values over to IFTTT 📡
3. Paste the Values into the HTML Template 📝
4. Send it via the @javl Script to m

[2020-05-04 07:22] Pogopooc commented on #26
IFTTT Weather HTML Template - V0.1

<table>
<tbody>
<tr>
<td colspan="2">
<h3 style="text-align: center;">{{TodaysCondition}}</h3>
</td>
</tr>
<tr>
<td colspan="2">
<hr>
</td>
</tr>
<tr>
<td><img src="{{TodaysConditionImageURL}}" alt="ICON" width="80"></td>
<td>
<h4 style="text-align: center;"><span style="font-size: 14px;">With a high of {{HighTempCelsius}}C and a low of {{LowTempCelsius}}C.</spa

[2020-05-04 11:29] Pogopooc commented on #26
Simple Todo List:

**HTML:**

`//Version 0.2

<table border="0" cellpadding="1" cellspacing="5" style="width:500px;">
	<tbody>
		<tr>
			<td>
			<pre>
<img alt="" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/memo_1f4dd.png" style="width: 100px; height: 100px; margin-left: 0px; margin-right: 0px;" /> <span style="font-size:48px;"><code><span style="font-famil

[2020-05-05 11:49] sarahkadar commented on #26
@Pogopooc these are great but the HTML is getting lost in the formatting, can you re-post the code?

[2020-05-05 11:50] sarahkadar commented on #26
@Pogopooc also can I use these images/code in my talk on Saturday (with credit of course)?

[2020-05-05 12:06] Pogopooc commented on #26
@KTamas  thanks 🙏 for the flowers, of course you can; but its a Quick&Dirty Code not really a Masterpiece. What kind of talk?

I did some other stuff last week. The most is based on the original Berg LittlePrinter Issues. Lets have a look:

![IMG_8301](https://user-images.githubusercontent.com/8436174/81063739-b214a900-8ed8-11ea-972e-a11ce9e3e7c8.JPG) *LittlePrinter Original
![IMG_3151](https://us

[2020-05-05 13:56] sarahkadar commented on #26
@Pogopooc thanks! here's the talk http://bangbangcon.com/speakers.html#tamas-kadar

it's this saturday 9a pdt/12p edt/6p cest, will be livestreamed for free on youtube.

[2020-05-05 14:28] Pogopooc commented on #26
Maybe Images are better than code?

[2020-05-05 14:41] Catindra commented on #26
Too bad this (@Pogopooc devs) is only for apple/iPhone :/

[2020-05-05 16:22] Pogopooc commented on #26
Ok, i created a "Gist" for the **"Simple Todo List"**  i hope now its a little bit more useful:

https://gist.github.com/Pogopooc/29dc121da0e34202bd8571ca81e96e90

And here a first Version of the **"Daily Weather Report":**

https://gist.github.com/Pogopooc/3ebe20b53946694d276b2733401b6b63

I tried also to create a Playground for Little Printer, but i think this is not the Idea of a "Repository"

[2020-05-05 16:36] sarahkadar commented on #26
@Pogopooc I mean I'll mainly show the images but if the code is interesting, it'd be nice to show an example. Like the code for the IFTTT weather.

[2020-05-05 16:36] sarahkadar commented on #26
@Pogopooc thanks! can you post the IFTTT weather code the same way?

[2020-05-05 17:06] Pogopooc commented on #26
All my ifttt workflows for LittlePrinter are based on @Catindra example. 👆👆👆

[2020-05-05 17:08] Pogopooc commented on #26
Here: https://gist.github.com/Pogopooc/3ebe20b53946694d276b2733401b6b63

[2020-05-05 17:29] sarahkadar commented on #26
@Pogopooc thanks!

[2020-05-05 20:55] javl commented on #26
Good to hear my little script has been useful to some of you. I sadly don't actually own a Little Printer myself so haven't really messed around with it too much (still looking for an affordable one).

I did recently take apart another receipt printer, hoping to convert it into a knockof Little Printer at some point. So I'm very interested to read people are working on a system for this. Really lo

[2020-05-06 04:56] Pogopooc commented on #26
I would be happy if someone with more solid HTML knowledge could refine the code a bit more:

- How to embed a font? I have thought of "Courier New" for example. But LittlePrinter ignores style specifications like: (style="font-family:courier new,courier,monospace;")

[2020-05-06 05:39] Pogopooc commented on #26
Here the **"Daily BTC Value:"**

https://gist.github.com/Pogopooc/6549bb958e2553ed988a404fc97a55b8

[2020-05-06 12:11] sarahkadar commented on #26
@Pogopooc thanks. it's gonna look like this approximately

https://www.dropbox.com/s/7d8bsrvby2nnlit/Screenshot%202020-05-06%2014.11.19.png?dl=0

[2020-05-09 08:54] sarahkadar commented on #26
last time I plug this but tune in to the !!Con livestream (http://bangbangcon.com/livestream.html) at 9a PDT/12p EDT/6p CEST for my talk!

[2020-05-10 22:00] sarahkadar commented on #26
hey y'all we have a discord now, come join us! https://discord.gg/WGHXSA

[2020-05-12 13:14] andrewn commented on #14
I flashed my bridge a couple of years ago and it was working fine up until a few months ago. Only the power light comes on, no Upstream or Downstream at all.

The serial console prints out the following when powered up but then nothing else:

[code]

Adding here in case anyone comes up with any solutions. I'm currently wondering if it'd be possible to access the processor another way to read the c

[2020-05-16 14:07] Catindra commented on #26
Too old now that I remembered trying, can we get a new link? :)

[2020-05-16 18:08] notjosh commented on #26
I believe this link is set to never expire: https://discord.gg/KGdjqSm

[2020-05-20 12:47] tomassp commented on #26
I've just bought a power supply for the bridge as my one was missing. I've got that it's 5v and 500mA but I've bought a 3.5 by 1.3 barrel and it doesn't fit. Can someone please tell me what size the connector is please?

[2020-05-31 16:04] tomassp commented on #26
Sorry to be a bit dim, but can someone help me with creating an applet (I think these were called recipes last time i looked)

Every time i try to create anything from scratch it wants me to sign up as a company/developer and give them money. I seem to be unable to edit an existing recipe to work the way I would like it.

It's taken me longer going around IFTTT than it did to get the printer worki

[2020-06-03 09:54] tomdcpennington commented on #26
Has anyone managed to get the time on the top of the print out to be correct?

Or get the faces to change at all?

[2020-06-03 09:59] Catindra commented on #26
I'd like to know the same!

[2020-06-10 17:51] royletron commented on #14
In reply to https://github.com/genmon/sirius/issues/14#issuecomment-613015374 I was able to get a little further

[code]
But it just hangs forever. My only guess is the kernel is corrupt, and I haven't got the skills insane enough to reflash it...

[2020-06-10 21:50] lo0shaa commented on #26
I have been trying to do it myself but for some reason am stuck with RomBoot please help :(

[2020-06-11 20:24] lo0shaa commented on #26
am so new to this I have no idea how to make it run again tried but it gets stuck to a RomBoot if you would please help me

[2020-06-11 21:18] sarahkadar commented on #26
@lo0shaa come to our Discord, some people there might be able to help you.

[2020-06-12 06:18] mellbratt commented on #26
@KTamas Invite link has expired... :/

[2020-06-15 09:38] sarahkadar commented on #26
@mellbratt @lo0shaa https://discord.gg/aMBHGZA

[2020-06-21 15:33] karlparton commented on #26
Another Little printer brought back to life :D Thanks for providing detailed instructions. Some people have mentioned a script written by @javl for sending messages to the Little Printer outside of the app. I can't seem to find it. Can someone please share it with me? Thanks.

[2020-08-20 20:34] shenzo1 commented on #28
1 year later...hopefully you have found a solution by now. I just flashed two bridges and both worked perfectly following the procedures. You should just be able to change the URL and submit and it will reboot to effectuate the changes. Happy printing.

[2020-08-27 19:06] gram-01 commented on #26
Hello, I'm keen to get this little guy back in working order but the instructions are waaaay beyond my technical abilities. Is Tom still willing to flash bridges?

Thank you :)

![IMG_6554](https://user-images.githubusercontent.com/70337338/91483921-51064c00-e8a0-11ea-9eff-c32dff403443.jpeg)

[2020-08-27 19:10] javl commented on #26
It might be useful to mention where you're based to see if anyone is around to help you out. You're welcome to come by our studio in Rotterdam ;)

[2020-08-27 19:13] gram-01 commented on #26
That is a very kind offer! Unfortunately I am in the north east of Scotland and though ordinarily a trip to Rotterdam would be awesome, this time I'll have to rely on the mail.

[2020-08-27 19:29] javl commented on #26
If you can't find anyone nearby you're also welcome to ship it over for me to flash.

[2020-08-28 16:29] gram-01 commented on #26
That would be great! I'll drop you an email. Thank you 😃

[2020-09-10 13:50] schuyuan commented on #26
![Image from iOS](https://user-images.githubusercontent.com/26222707/92738986-58375a80-f374-11ea-9671-e0e8141ff743.jpg)

I thought I would never able to get it to work again but after 2 hours it is alive! amazing.

I completely forgotten what sort of paper does it use? what's the specifications? also Is it possible to change the face? remember in the olden days it has very cute random faces.

[2020-09-17 16:59] gram-01 commented on #26
Huzzah!

![image](https://user-images.githubusercontent.com/70337338/93503103-889c6d00-f90f-11ea-91b8-867a5f23e857.jpeg)

[2020-09-20 10:35] javl commented on #26
@gram-01 That's great! Happy to help.
Bridge #5 flashed successfully :)

[2020-12-04 14:37] dieppon commented on #26
I just flashed mine!!!

[2020-12-04 14:43] Dayvehillman commented on #26
@gram-01 I don't suppose you would consider getting my little printer up and running too?

[2020-12-19 18:47] javl commented on #26
@Dayvehillman I flashed that bridge for @gram-01. You're welcome to send yours this way (the Netherlands).

[2021-01-11 10:08] dieppon commented on #26
if switch off the bridge do I need to ssh into it and mounted again after its been flashed? I haven't switch it off since I completed the process

[2021-03-12 13:43] thatgraphicsguy commented on #26
Are you still offering to flash the bridges, @javl ? :) I'm based in Denmark, but I'll gladly ship it to you, since I have very little confidence I can make it work on my own.

[2021-03-19 11:00] LemmaEOF commented on #26
Hmm, I'm going to be getting a [DevTerm](https://www.clockworkpi.com/devterm) soon, and it comes with a thermal printer. I wonder how hard it would be to get the DevTerm to spoof being a bridge so I can use it as a Little Printer too. ~~I'd need to figure out how the bridge/pinter actually goes from the websocket query to what it prints, though...~~ never mind I found tinyprinter.club

[2021-03-22 13:52] javl commented on #26
Sure, my website is in my bio, just add mail@ to send me a message so we can arrange something.

[2021-06-18 20:31] idleberg opened #39 "Enable Discussions for this repository"
GitHub has introduced [Discussions](https://docs.github.com/en/discussions/collaborating-with-your-community-using-discussions/about-discussions) a while ago. In a nutshell, the idea is to use issues just for that and move general talk into discussions. Since there's no place to talk about all things Sirius/Little Printer, it would be lovely if the maintainers would enable it!

[2021-08-30 12:17] code1202-ubik commented on #26
Hi all,

thx for this project and the instructions - as an unexperienced user i struggling a bit -> after doing 3.5 reboot  i am entering mount -a - > getting an unknown command response

what am i doing wrong?

by the way - when doing the reboot i see a

Verifying Checksum ... Bad Data CRC
ERROR: can't get kernel image!

might this be the initial problem / and how to solve that?

Cheers

Michael

[2021-10-14 20:52] jottr opened #41 "Discord invite invalid"
The following Discord link on the homepage seems to be invalid:

`https://discord.gg/4XCcNRb`

![image](https://user-images.githubusercontent.com/2744198/137393649-356fe7a7-a979-4459-800b-e035db7b221d.png)

[2022-02-04 17:32] yaserahmady commented on #26
I collected 22 publications for your Little Printers on https://littleprinter.club/

6 are legacy BERG Little Printer publications I remade or found on GitHub and the other 16 are publications made by my students.

On the website you'll find those publications, each having a direct link to the printable image that you can use on IFTTT, in the Shortcuts app, in Tasker or your scripts.

There's also

[2022-02-04 17:41] jeremyfranklin commented on #26
I have a working Little Printer, but I was never able to get current weather to it or know how to use those https://littleprinter.club/ apps above.  Does anyone have a step by step guide or can reply below with some steps on how to enable these in IFTTT with the new Little Printer environment?

Thanks!

[2022-10-05 09:06] goern opened #45 "need some information"
Hey @genmon please let me know all the things that I need to do, to bring my littleprinter back to live! ;)

thanks, Christoph

[2022-10-23 09:56] jooles opened #46 "paperang p1 does only make sounds, does not print"
hi there!
thanks for all your efforts!!

please see above, it worked once but now the paperang p1 only makes sounds.

if I use the paperang app, disconnect bluetooth, try again, it prints.

is there anything that I'm missing?
Thank you!

https://user-images.githubusercontent.com/958372/197385702-373beec1-16c1-4b27-872b-e67588223eed.mov

Best,
Jules